{% extends "leden/base.html" %}

{% block body %}
<h1>Moderatie</h1>
<table>
	<thead>
		<tr><th>Naam</th><th>Moderatie-modus</th>
			{% if is_moderator %}
			<th></th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
{% for l in lists %}
<tr>
	<td><a href="{% url "entity-by-name" l.name %}"
			>{{ l.real_name }}</a></td>
	<td>
		{% if l.modmode %}
		actief
		{% if l.by %}
		door {{ l.by.humanName }}
		{% endif %}
		{% else %}
		inactief
		{% endif %}
		{% if l.queue %}
		{% if is_moderator %}
		<a href="{% url "moderation-redirect" l.name %}">
		{% endif %}
		({{ l.queue }} in wachtrij)
		{% if is_moderator %}
		</a>
		{% endif %}
		{% endif %}
	</td>
	{% if is_moderator %}
	<td>
		<form action="?" method="POST">
                        {% csrf_token %}
			<input type="hidden" name="toggle"
						value="{{ l.name }}" />
			<input type="submit"
			{% if l.modmode %}
				value="deactiveer"
			{% else %}
				value="activeer"
			{% endif %}
				/>
		</form>
		{% if l.modmode %}
		<form action="?" method="POST">
                        {% csrf_token %}
			<input type="hidden" name="renew"
						value="{{ l.name }}" />
			<input type="submit"
				value="verleng (-{{l.remaining}})" />
		</form>
		{% endif %}
	</td>
	{% endif %}
</tr>
{% endfor %}
	</tbody>
</table>
{% endblock %}
