{% extends "leden/base.html" %}

{% load i18n %}

{% block body %}
<h1>Moderatie</h1>
<table>
	<thead>
        <tr><th>{% trans "Naam" %}</th><th>{% trans "Moderatie-modus" %}</th>
			{% if is_moderator %}
			<th></th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
{% for l in lists %}
<tr>
	<td><a href="{% url "entity-by-name" l.name %}"
			>{{ l.real_name }}</a></td>
	<td>
		{% if l.modmode %}
        {% trans "actief" %}
		{% if l.by %}
        {% trans "door" %} {{ l.by.humanName }}
		{% endif %}
		{% else %}
        {% trans "inactief" %}
		{% endif %}
		{% if l.queue %}
		{% if is_moderator %}
		<a href="{% url "moderation-redirect" l.name %}">
		{% endif %}
        ({{ l.queue }} {% trans "in wachtrij" %})
		{% if is_moderator %}
		</a>
		{% endif %}
		{% endif %}
	</td>
	{% if is_moderator %}
	<td>
		<form action="?" method="POST">
                        {% csrf_token %}
			<input type="hidden" name="toggle"
						value="{{ l.name }}" />
			<input type="submit"
			{% if l.modmode %}
                        value="{% trans "deactiveer" %}"
			{% else %}
                        value="{% trans "activeer" %}"
			{% endif %}
				/>
		</form>
		{% if l.modmode %}
		<form action="?" method="POST">
                        {% csrf_token %}
			<input type="hidden" name="renew"
						value="{{ l.name }}" />
			<input type="submit"
                        value="{% trans "verleng" %} ({{l.remaining}})" />
		</form>
		{% endif %}
	</td>
	{% endif %}
</tr>
{% endfor %}
	</tbody>
</table>
{% endblock %}
