{% extends "fotos/browse_base.html" %}

{% block body %}

{% if p.has_previous %}
<a href="{% url fotos-browse path=o.full_path %}?p={{ p.previous_page_number }}"
    >vorige</a>
{% endif %}{# p.has_previous #}
pagina {{ p.number }} van de {{ pr.num_pages }}
{% if p.has_next %}
<a href="{% url fotos-browse path=o.full_path %}?p={{ p.next_page_number }}"
    >volgende</a>
{% endif %}{# p.has_next #}

<ul class="fotos">
{% for c in cs %}
<li>
<a href="{{ c.get_browse_url }}"><img
  src="{{ c.get_thumbnail_url }}"
  /><br />
  {{ c.title }}</a></li>
{% endfor %}{# c in cs #}
</ul>


{{ block.super }}

{% endblock body %}

{# vim: set et bs=2 sw=2 sta: #}
