{% extends "base/base.html" %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}/fotos/jquery.lazyloadxt.extra.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/fotos/fotos.js?v=2">
</script>
<script type="text/javascript">
'use strict';
var fotos_root = "{% url fotos '' %}";
var fotos_api_url = "{% url fotos-api %}";
// FIXME (hack) this forces the header to be collapsed.
sessionStorage['visited'] = true;
// Initialize Lazy Load XT
$.extend($.lazyLoadXT, {
  autoInit: false,
  selector: '#fotos img.lazy',
  edgeY: 500,
});
$.lazyLoadXT.onshow = undefined;
if ('srcset' in (new Image())) {
  $.lazyLoadXT.onshow = function () {
    var el = $(this);
    el.attr('srcset', el.attr('data-srcset'));
  };
}
</script>
{% endblock head%}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}/fotos/fotos.css" />
{% endblock styles %}

{% block body %}
<div id="breadcrumbs"></div>
<ul id="fotos"></ul>
<div id="foto">
<div></div>
</div>
{% endblock body %}
