{% extends "base/base.html" %}

{% load base %}
{% load i18n %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}fotos/jquery.lazyloadxt.extra.min.js"></script>
{% if fotos_admin %}
<script type="text/javascript"
        src="{{ MEDIA_URL }}base/jquery-ui-1.8.22/the.js" defer></script>
{% endif %}
<script type="text/javascript" src="{{ MEDIA_URL }}fotos/fotos.js?v=2"></script>
<script type="text/javascript">
'use strict';
expandHeader = false;
// initial data to prevent one API request
var fotos = {{ fotos|json }};
var fotos_admin = {{ fotos_admin|yesno:"true,false" }};
{% if fotos_admin %}
var fotos_people = {{ people|json }};
{% endif %}
var fotos_root = "{% url "fotos" '' %}";
var fotos_api_url = "{% url "fotos-api" %}";
// Initialize Lazy Load XT
$.extend($.lazyLoadXT, {
  autoInit: false,
  selector: '#fotos img.lazy',
  edgeY: 500,
});
$.lazyLoadXT.onshow = undefined;
if ('srcset' in (new Image())) {
  $.lazyLoadXT.onshow = function () {
    var el = $(this);
    el.attr('srcset', el.attr('data-srcset'));
  };
}
</script>
{% endblock head%}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}fotos/fotos.css" />
{% if fotos_admin %}
<link rel="stylesheet" type="text/css"
    deferred-href="{{ MEDIA_URL }}base/jquery-ui-1.8.22/the.css"/>
{% endif %}
{% endblock styles %}

{% block body %}
<div id="breadcrumbs"></div>
<div id="topbar" class="toggle">
<input id="search" type="search" placeholder="{% trans "zoek..." %}"/>
{% if fotos_admin %}
  <img id="album-edit-toggle" class="toggle-button"
    src="{{ MEDIA_URL }}fotos/edit-icon.svg" width="16" height="16"
    title="{% trans "Bewerk naam en zichtbaarheid" %}"/>
  <form id="album-editor" class="toggle-window">
    <div class="album-options">
      <select id="album-visibility"
        onchange="$('#album-edit-button').prop('disabled', false)">
        <option value="world">{% trans "Publiek" %}</option>
        <option value="leden">{% trans "Alleen leden" %}</option>
        <option value="hidden">{% trans "Fototaggers" %}</option>
      </select>
      <input id="album-title" type="text" name="album-title"
              title="{% trans "Album titel" %}"
        oninput="$('#album-edit-button').prop('disabled', false)"/>
      <button id="album-edit-button" disabled>{% trans "Ok" %}</button>
      <hr class="slight"/>
    </div>
    <label>
      {% trans "Duidelijke zichtbaarheid:" %}
      <input type="checkbox" id="highlight" value="checked"/>
    </label>
  </form>
{% endif %}
</div>
{% if error == 'permission-denied' %}
{% url "group-by-name" 'fotocie' as url_fotocie%}
<p class="error">{% blocktrans %}Je hebt niet de juiste rechten
om dit album te zien.  Waarschijnlijk mogen alleen
<a href="{{ url_fotocie }}">FotoCie</a>-leden
dit album zien.{% endblocktrans %}</p>
{% else %}
<ul id="fotos"></ul>
{% endif %}
<div id="foto"></div>
<div class="template foto-frame">
  <div class="header">
    <a class="prev">{% trans "vorige" %}</a>
    <span class="title"></span>
    <a class="next">{% trans "volgende" %}</a>
  </div>
  <div class="middle">
    {% spaceless %}
    <img class="img"/>
    <div class="sidebar">
    {% endspaceless %}
      <form>
{% if fotos_admin %}
<input type="text" class="row title" name="title" title="{% trans "Titel" %}"/>
        <input type="text" class="row description" name="description"
           placeholder="{% trans "Beschrijving..." %}"
           title="{% trans "Beschrijving" %}"/>
        <div class="row">
            <select class="visibility" title="{% trans "Zichtbaarheid" %}">
            <option value="world">{% trans "Publiek" %}</option>
            <option value="leden">{% trans "Alleen leden" %}</option>
            <option value="hidden">{% trans "Fototaggers" %}</option>
          </select>
          <button class="remove">{% trans "Verwijder" %}</button>
        </div>
        <div class="rotation">
          <a class="rotate-left" href>
            <img src="{{ MEDIA_URL }}fotos/rotate-left.svg" width="24" height="24"/>
          </a>
          <a class="rotate-right" href>
            <img src="{{ MEDIA_URL }}fotos/rotate-right.svg" width="24" height="24"/>
          </a>
        </div>
{% endif %}
    {% trans "Tags:" %}
        <ul class="tags">
        </ul>
{% if fotos_admin %}
<input type="submit" class="hidden-submit" value="{% trans "Opslaan" %}" tabindex="-1"/>
        <span class="status">&nbsp;</span>
{% endif %}
      </form>
    </div>
  </div>
  <div class="footer">
    <p class="description"></p>
    <a class="open-sidebar" href>{% trans "tags" %}</a> ·
    <a class="orig">{% trans "origineel" %}</a>
  </div>
</div>
{% endblock body %}
