{% extends "events/base.html" %}
{% load base %}

{% block body %}
<h1>{{ event.humanName }}</h1>
<blockquote>{{ event.description_html|safe }}</blockquote>
<dl>
        <dt>Datum</dt>
        <dd>{{ object.when.date }}</dd>
	{% if event.owner %}
	<dt>Georganiseerd door</dt>
	<dd><a href="{{ event.owner.get_absolute_url }}"
		>{{ event.owner.humanName }}</a></dd>
        {% endif %}{# event.owner #}
	{% if event.cost %}
	<dt>Kosten</dt>
	<dd>&euro; {{ event.cost }}</dd>
        {% endif %}{# event.cost #}
</dl>

{% endblock %}
