[Unit]
Description=moniek manages the financial accounts for giedo

[Service]
ExecStart=/home/sys-moniek/bin/moniek
EnvironmentFile=-/etc/default/moniek

[Install]
WantedBy=multi-user.target

