{% extends "leden/base.html" %}
{% load base %}

{% block body %}
		<p>
                Hier kun je foto's verplaatsen. Ze worden uit de fotos map van een gebruik er gehaald en aan het fotoboek toegevoegd. Bestaat de activiteit nog niet? Maak hem <a href="{% url fotoadmin-create-event %}">hier</a> aan.
		</p>
                {{ form.errors }}
                <form method="POST">
                {% csrf_token %}
		<table style="width: 100%">
			<tr>
				<th colspan="2">Verplaats foto's</th>
			</tr>
			<tr>
                                <td>{{ form.move_src.label }}</td>
                                <td>{{ form.move_src }}</td>
			</tr>
			<tr>
                                <td>{{ form.move_dst.label }}</td>
                                <td>{{ form.move_dst }}</td>
			</tr>
			<tr>
				<td></td>
                                <td><input type="submit" value="Verplaats"></td>
			</tr>
		</table>
                </form>
{% endblock %}
