{% extends "leden/base.html" %}
{% load base %}
{% load i18n %}
{% block body %}
{% if edit %}
<h1>{% trans "Bewerk activiteit" %} {{ form.humanName.value }}</h1>
{% else %}
<h1>{% trans "Nieuwe activiteit" %}</h1>
{% endif %}
<form method="post" action="?" class="top-aligned">
        {% csrf_token %}
        {{ form.as_p }}
        {% if edit %}
        <input type="submit" value="{% trans "Pas aan!" %}"/>
        {% else %}
        <input type="submit" value="{% trans "Maak aan!" %}"/>
        {% endif %}
</form>
{% endblock %}
