{% extends "leden/base.html" %}
{% load base %}

{% block head %}
{{ block.super }}
<script type="text/javascript">
$(function(){
        $.defaultText();
});

_api = function(data, cb) {
        data.csrfmiddlewaretoken = "{{ csrf_token }}";
        $.post("{% url api %}", data, cb, "json");
};

edit_event = function() {
        location.href = '{% url event-edit edit=object.name %}';
}

close_event = function() {
        if(!confirm("Weet je zeker dat je de activiteit wilt sluiten? "+
                                "Je kunt dit niet zelf ongedaan maken."))
                return;
        _api({'action': 'close-event',
                   'id': '{{ object.id }}' },
                        function(d) {
                if(d.success) window.location.reload();
                if(d.error) alert(d.error);
        });
};

confirm_subscription = function() {
        _api({'action': 'confirm-subscription',
              'id': '{{ object.id }}',
              'notes': $('#notes').text()},
                        function(d) {
                if(d.success) window.location.reload();
                if(d.error) alert(d.error);
        });
};

change_debit = function(id) {
        _api({'action': 'change-debit',
                   'id': id,
                   'debit': prompt("Nieuw debet")},
                        function(d) {
                if(d.success) window.location.reload();
                if(d.error) alert(d.error);
        });
};

copy_emailaddresses_to_clipboard = function() {
        _api({'action': 'get-email-addresses',
              'id': '{{ object.id }}'},
              function(d) {
                if(d.error) {
                        alert(d.error);
                        return;
                }
                var s = '';
                var first = true;
                for(var i = 0; i < d.addresses.length; i++) {
                        if (first) first = false;
                        else s += ', '
                        s += d.addresses[i];
                }
                prompt("Dit zijn de e-mail adressen", s);
              });
        return false;
};

</script>
{% endblock %}

{% block body %}
{% if subscription %}
{% if subscription.confirmed %}
{% if subscription.debit > 0 %}
<div class="message">Je bent aangemeld, maar moet nog wel
                {{ subscription.debit }} euro betalen.</div>
{% else %}{# subscription.debit > 0 #}
<div class="message">Je bent aangemeld.</div>
{% endif %}{# subscription.debit > 0 #}
{% endif %}{# subscription.confirmed #}
{% endif %}{# subscription #}
<h1>{{ object.humanName }}</h1>
<p><input type="button" onclick="edit_event()" value="Activiteit bewerken"></p>
<blockquote>{{ object.description_html|safe }}</blockquote>
<dl>
        {% if object.date %}
        <dt>Datum</dt>
        <dd>{{ object.date.date }}</dd>
        {% endif %}{# object.date #}
	{% if object.owner %}
	<dt>Georganiseerd door</dt>
	<dd><a href="{{ object.owner.get_absolute_url }}"
		>{{ object.owner.humanName }}</a></dd>
	{% endif %}
	{% if object.cost %}
	<dt>Kosten</dt>
	<dd>&euro; {{ object.cost }}</dd>
	{% endif %}
</dl>

{% if object.is_open and has_write_access %}
<button onclick="close_event()">Sluit inschrijvingen</button>
{% endif %}{# object.is_open and has_write_access #}

{% if not subscription or may_subscribe_others or not subscription.confirmed %}
{% if object.is_open %}
<form method="post" action="">
        {% if subscription and not subscription.confirmed %}
        <p>Je bent door
        <a href="{{ subscription.subscribedBy.get_absolute_url }}"
                >{{ subscription.subscribedBy.full_name }}</a>
        aangemeld, maar hebt dit nog niet bevestigd.</p>
        {% endif %}{# subscription and not subscription.confirmed #}
        <textarea class="default" name="notes"
                style="width: 200px; height: 70px;"
                title="Opmerkingen"></textarea><br/>
        {% if subscription and not subscription.confirmed %}
        <button type="button" onclick="confirm_subscription()"
                >Aanmelding bevestigen!</button></p>
        {% endif %}{# subscription and not subscription.confirmed #}
        {% if may_subscribe_others %}
        <select name="who">
        {% for u in users %}
        <option value="{{ u.id }}"
                {% if u == user and not subscription %}
                selected="true"
                {% endif %}{# u == user #}
                >{{ u.full_name }}</option>
        {% endfor %}{# u in users #}
        <input type="submit" value="aanmelden!" />
        </select>
        {% else %}{# may_subscribe_others #}
        {% if not subscription %}
	<input type="submit" value="{{ user.full_name }} aanmelden!" /> 
        {% endif %}{# not subscription #}
        {% endif %}{# may_subscribe_others #}
	{% csrf_token %}
</form>
{% else %}{# object.is_open #}
<p><em>Je kunt je niet meer aanmelden.</em></p>
{% endif %}{# object.is_open #}
{% endif %}{# not subscription or may_subscribe_others or not subscription.confirmed#}

{% if has_read_access or has_debit_access or object.has_public_subscriptions %}
	<h2>Aanmeldingen ({{ subscrlist_count }})</h2>
{% if has_debit_access %}
	<p>Er staan nog {{ subscrcount_debit }} betalingen open.</p>
{% endif %}{# has_debit_access #}
	<ul>
	{% for subscr in subscrlist %}
	<li><a href="{{ subscr.user.get_absolute_url }}"
                >{{ subscr.user.full_name }}</a>
                {% if has_debit_access or has_read_access %}
                [debet: &euro;
                {{ subscr.debit }}
                {% endif %}{# has_debit_access or has_read_access #}
                {% if has_debit_access %}
                <button onclick="change_debit('{{ subscr.id }}')"
                        >wijzig</button
                >{% endif %}{# has_debit_access #}
                {% if has_debit_access or has_read_access %}
                        ]
                {% endif %}{# has_debit_access or has_read_access #}
                {% if subscr.date %}
                        <small>{{ subscr.date.date }}</small>
                {% endif %}{# subscr.date #}</li>
                {% if subscr.subscribedBy %}
                aangemeld door
                <a href="{{ subscr.subscribedBy.get_absolute_url }}"
                        >{{ subscr.subscribedBy.full_name }}</a>
                {% if subscr.subscribedBy_notes %}
                <blockquote>{{ subscr.subscribedBy_notes }}</blockquote>
                {% endif %}{# subscr.subscribedBy_notes #}
                {% if subscr.confirmed %}
                bevestigd op {{ subscr.dateConfirmed.date }}
                {% else %}{# subscr.confirmed #}
                nog onbevestigd
                {% endif %}{# subscr.confirmed #}
                {% endif %}{# subscr.subscribedBy #}
                {% if has_read_access %}
                {% if subscr.userNotes %}
                <blockquote>{{ subscr.userNotes }}</blockquote>
                {% endif %}
                {% endif %}{# has_read_access #}
	{% endfor %}
	</ul>
        <button onclick="copy_emailaddresses_to_clipboard()">
                Toon e-mail adressen van de ingeschrevenen
        </button>
{% endif %}{# has_read_access or has_debit_access or object.has_public_subscriptions#}
{% endblock %}
