{% extends "leden/base.html" %}
{% load base %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}subscriptions/event_detail.css" />
{% endblock styles %}

{% block head %}
{{ block.super }}
<script type="text/javascript">
_api = function(data, cb) {
        data.csrfmiddlewaretoken = "{{ csrf_token }}";
        $.post("{% url "api" %}", data, cb, "json");
};

close_event = function() {
        if(!confirm("Weet je zeker dat je de activiteit wilt sluiten? "+
                                "Je kunt dit niet zelf ongedaan maken."))
                return;
        _api({'action': 'close-event',
                   'id': '{{ object.id }}' },
                        function(d) {
                if(d.success) window.location.reload();
                if(d.error) alert(d.error);
        });
};

copy_emailaddresses_to_clipboard = function() {
        _api({'action': 'get-email-addresses',
              'id': '{{ object.id }}'},
              function(d) {
                if(d.error) {
                        alert(d.error);
                        return;
                }
                var s = '';
                var first = true;
                for(var i = 0; i < d.addresses.length; i++) {
                        if (first) first = false;
                        else s += ', '
                        s += d.addresses[i];
                }
                prompt("Dit zijn de e-mail adressen", s);
              });
        return false;
};

</script>
{% endblock %}

{% block body %}
<h1>{{ object.humanName }}</h1>
<div id="subscription-description">
{{ object.description_html|safe }}
</div>
<dl>
        {% if object.date %}
        <dt>Datum</dt>
        <dd>{{ object.date.date }}</dd>
        {% endif %}{# object.date #}
	{% if object.owner %}
	<dt>Georganiseerd door</dt>
	<dd><a href="{{ object.owner.get_absolute_url }}"
		>{{ object.owner.humanName }}</a></dd>
	{% endif %}
	{% if object.cost %}
	<dt>Kosten</dt>
	<dd>&euro; {{ object.cost }}</dd>
	{% endif %}
</dl>

{% if subscription.subscribed %}
<div class="message">Je bent aangemeld.</div>
{% endif %}{# subscription.subscribed #}

{% if object.is_open %}
<form class="subscribe" method="POST" action="">
        {% csrf_token %}
        {% if subscription.invited and not subscription.state %}
        <div class="message">Je bent door
        <a href="{{ subscription.inviter.get_absolute_url }}"
                >{{ subscription.inviter.full_name }}</a>
        uitgenodigd.</div>
        {% endif %}{# subscription.invited and not subscription.state #}
        <!--[if lte IE 9]>
        Opmerkingen:<br/>
        <![endif]-->
        <textarea class="default" name="notes" cols="30" rows="4"
                placeholder="Opmerkingen"></textarea>
        {% if subscription.invited and not subscription.state %}
        <input type="submit" name="subscribe"
                value="Aanmelden bevestigen"/><br/>
        {% elif not subscription.subscribed %}
        <input type="submit" name="subscribe" value="Aanmelden"/><br/>
        {% endif %}
        <div>
                <select name="who">
                {% for u in users %}
                <option value="{{ u.id }}">{{ u.full_name }}</option>
                {% endfor %}{# u in users #}
                </select>
                <input type="submit" name="invite" value="Uitnodigen" />
        </div>
</div>
{% endif %}{# object.is_open #}

{% if object.is_open and has_write_access %}
<div>
        <button onclick="close_event()">Sluit inschrijvingen</button> –
        <a href="{% url "event-edit" edit=object.name %}">Bewerk activiteit</a>
</div>
{% endif %}{# object.is_open and has_write_access #}

{% if has_read_access or object.has_public_subscriptions %}
        <button onclick="copy_emailaddresses_to_clipboard()">
                Toon e-mail adressen van de ingeschrevenen
        </button>
	<h2>Aanmeldingen ({{ subscriptions|length }})</h2>
	<ul>
	{% for subscr in subscriptions %}
	<li><a href="{{ subscr.user.get_absolute_url }}"
                >{{ subscr.user.full_name }}</a>
                {% if subscr.date %}
                        <small>{{ subscr.date.date }}</small>
                {% endif %}{# subscr.date #}<br/>
                {% if has_read_access %}
                {% if subscr.userNotes %}
                <blockquote>{{ subscr.userNotes }}</blockquote>
                {% endif %}{# subscr.userNotes #}
                {% endif %}{# has_read_access #}
                {% if subscr.invited %}
                uitgenodigd door
                <a href="{{ subscr.inviter.get_absolute_url }}"
                        >{{ subscr.inviter.full_name }}</a>
                {% if has_read_access %}
                {% if subscr.inviterNotes %}
                <blockquote>{{ subscr.inviterNotes }}</blockquote>
                {% endif %}{# subscr.inviterNotes #}
                {% endif %}{# has_read_access #}
                {% endif %}{# subscr.invited #}
                </li>
	{% endfor %}
	</ul>

        {% if invitations %}
        <h2>Uitnodigingen ({{ invitations|length }})</h2>
        <ul>
        {% for invt in invitations %}
                <li><a href="{{ invt.user.get_absolute_url }}"
                       >{{ invt.user.full_name }}</a>
                <small>{{ invt.inviteDate.date }}</small><br/>
                uitgenodigd door
                <a href="{{ invt.inviter.get_absolute_url }}"
                        >{{ invt.inviter.full_name }}</a>
                {% if has_read_access %}
                {% if invt.notes %}
                <blockquote>{{ invt.notes }}</blockquote>
                {% endif %}{# invt.notes #}
                {% endif %}{# has_read_access #}
        {% endfor %}
        </ul>
        {% endif %}
{% endif %}{# has_read_access or object.has_public_subscriptions#}
{% endblock %}
