{% extends "leden/base.html" %}
{% load base %}
{% load i18n %}

{% block body %}
<h1>{% trans "Activiteiten" %}</h1>
<ul>
{% for e in open_events %}
<li><a href={{ e.get_absolute_url }}>{{ e.humanName }}</a>
{% if e.date %}
<small>{{ e.date.date }}</small>
{% endif %}{# e.date #}
</li>
{% endfor %}{# e in open_events #}
</ul>
<ul>
{% for e in open_leden_events %}
<li><small><a href="{{ e.createdBy.get_absolute_url }}"
                >{{ e.createdBy.humanName }}</a>:</small>
<a href={{ e.get_absolute_url }}>{{ e.humanName }}</a>
{% if e.date %}
<small>{{ e.date.date }}</small>
{% endif %}{# e.date #}
</li>
{% endfor %}{# e in open_leden_events #}
</ul>
<h2{% trans ">Oude activiteiten" %}</h2>
<ul>
{% for e in closed_events %}
<li><a href={{ e.get_absolute_url }}>{{ e.humanName }}</a>
{% if e.date %}
<small>{{ e.date.date }}</small>
{% endif %}{# e.date #}
</li>
{% endfor %}{# e in closed_events #}
</ul>
<ul>
{% for e in closed_leden_events %}
<li><small><a href="{{ e.createdBy.get_absolute_url }}"
                >{{ e.createdBy.humanName }}</a>:</small>
<a href={{ e.get_absolute_url }}>{{ e.humanName }}</a>
{% if e.date %}
<small>{{ e.date.date }}</small>
{% endif %}{# e.date #}
</li>
{% endfor %}{# e in closed_leden_events #}
</ul>
{% endblock %}
