<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl-NL" lang="nl-NL" prefix="og: http://ogp.me/ns#">
	<head>
		{% block head %}
		<meta charset="utf-8"/>
		<title>{% block title %}ASV Karpe Noktem{% endblock %}</title>
		<meta name="viewport" content="width=device-width"/>
		<meta property="og:image" content="{{ MEDIA_URL }}/base/logo-og.png"/>
		<meta property="og:locale" content="nl_NL"/>
		<meta property="og:site_name" content="ASV Karpe Noktem"/>
		{% block styles %}
		<link href="{% url style-bare %}"
			rel="stylesheet" type="text/css" />
		{% endblock styles %}
		<script type="text/javascript"
                        src="{{ MEDIA_URL }}/base/jquery-1.11.1.min.js"></script>
                </script>
		<script type="text/javascript"
			src="{{ MEDIA_URL }}/base/common.js"></script>
		<link rel="icon" href="{{ MEDIA_URL }}/base/favicon.ico" />
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-11922614-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = 'https://ssl.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		  function loadDeferredCSS() {
		    var links = document.querySelectorAll('link[deferred-href]');
		    for (var i=0; i<links.length; i++) {
		      links[i].setAttribute('href', links[i].getAttribute('deferred-href'));
		    }
		  }
		  if (window.addEventListener) {
		    window.addEventListener('DOMContentLoaded', loadDeferredCSS);
		  } else {
		    window.attachEvent('onload', loadDeferredCSS);
		  }

		  var csrf_token = "{{ csrf_token }}";
		  var leden_api_url = "{% url leden-api %}";
		</script>
		{% endblock %}
	</head>
        <body>
                {% block header %}
                {% endblock %}
                {% block content %}
                <div id="content">
                    <div class="container">
                        <div id="body">
                                {% block body %}
                                {% endblock %}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                {% endblock content %}
                {% block footer %}
                <div id="footer">
                        <div class="container">
                                &copy;2007&mdash;2014,
                                Alternatieve studentenvereniging Karpe Noktem
                                <small><a id="scrollUp" href="#">Terug naar boven</a></small>
                        </div>
                </div>
                {% endblock footer %}
	</body>	
</html>
