{% load i18n %}
{% load base %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}"
      prefix="og: http://ogp.me/ns#">
	<head>
		{% block head %}
		<meta charset="utf-8"/>
		<title>{% block title %}ASV Karpe Noktem{% endblock %}</title>
        {% for code, name in LANGUAGES %}{% if code != LANGUAGE_CODE %}
        <link rel="alternate" hreflang="{{ code }}"
          href="{% if code == "nl" %}/nl{% endif %}{% translate_url code %}" />
        {% endif %}{% endfor %}{# code, name in LANGUAGES ... #}
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta property="og:image" content="{{ ABSOLUTE_MEDIA_URL }}/base/logo-og.png"/>
        <meta property="og:locale" content="{{ LANGUAGE_CODE }}"/>
		<meta property="og:site_name" content="ASV Karpe Noktem"/>
		<meta name="theme-color" content="black"/>
		{% block styles %}
		<link href="{{ MEDIA_URL }}base/bare.css"
			rel="stylesheet" type="text/css" />
		{% endblock styles %}
		{% block styles-inline %}
		{% endblock %}
		<script type="text/javascript"
                        src="{{ MEDIA_URL }}base/jquery-1.11.1.min.js"></script>
		<script type="text/javascript"
			src="{{ MEDIA_URL }}base/common.js?v=4"></script>
		<link rel="icon" href="{{ MEDIA_URL }}base/favicon.ico" />
		<link rel="apple-touch-icon" href="{{ MEDIA_URL }}base/touch-icon-128.png" />
		<script type="text/javascript">
		  window.addEventListener('DOMContentLoaded', function () {
		    var links = document.querySelectorAll('link[deferred-href]');
		    for (var i=0; i<links.length; i++) {
		      links[i].setAttribute('href', links[i].getAttribute('deferred-href'));
		    }
		  });

		  var csrf_token = "{{ csrf_token }}";
		  var leden_api_url = "{% url "leden-api" %}";
		</script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
		{% endblock %}
	</head>
        <body>
                {% block header %}
                {% endblock %}
                {% block content %}
                <div id="content">
                    <div class="container">
                        <div id="body">
                                {% block body %}
                                {% endblock %}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                {% endblock content %}
                {% block footer %}
                <div id="footer">
                    <div class="container">
                            &copy;2007&mdash;2018,
                        {% trans "Alternatieve studentenvereniging Karpe Noktem" %}
                        <small><a id="scrollUp" href="#"
                            >{% trans "Terug naar boven" %}</a></small>
                        {# Language picker #}
                        <form method="POST" action="{% url "langpicker" %}"
                            id="langpicker-form">
                            {% csrf_token %}
                            <select id="langpicker" name="language-url">
                            {% for code, name in LANGUAGES %}
                            <option value="{{ code }}:{% translate_url code %}"
                                {% if code == LANGUAGE_CODE %}selected{% endif %}
                                    >{{ name }}</option>
                            {% endfor %}{# code, name in LANGUAGES ... #}
                            </select>
                        </form>
                        {# / Language picker #}
                    </div>
                </div>
                {% endblock footer %}
	</body>	
</html>
