<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="nl">
	<head>
		{% block head %}
		<title>{% block title %}ASV Karpe Noktem{% endblock %}</title>
		<link href="{% url style-bare %}"
			rel="stylesheet" type="text/css" />
		<script type="text/javascript"
			src="{{ MEDIA_URL }}/base/common.js"></script>
		<script type="text/javascript"
			src="{{ MEDIA_URL }}/base/jquery-1.5.2.min.js"></script>
		<script type="text/javascript"
			src="{{ MEDIA_URL }}/base/jquery.defaultText.js"></script>
		<link rel="icon" href="{{ MEDIA_URL }}/base/favicon.ico" />
		<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css"
			href="{{ MEDIA_URL }}/base/iehacks.css" />
		<![endif]-->
		{% endblock %}
	</head>
	<body><div id="wrapper">
		{% block wrapper %}
		<div id="main">
			{% block main %}
			<div id="body">
			{% if messages %}
			<ul id="messages">
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% block body %}
			{% endblock %}
			</div>
			{% endblock %}
		</div>
		{% endblock %}
		<div id="footer">
		<!--[if IE]>
		Internet Explorer is 
		<a href="http://www.google.com/search?q=ie+sucks">brak</a>.
		Gebruik <a href="http://www.mozilla.com/en-US/firefox/">een</a>
		open browser voor een beter resultaat.<br/>
		<![endif]-->
		&copy;2007&mdash;2011, Karpe Noktem
		</div>
	</div>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-11922614-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
	</body>	
</html>
