{% extends "base/bare.html" %}

{% block head %}
{{ block.super }}
<link href="{% url style-base %}"
	rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
{{ block.super }}
<div id="header">
        <div class="container">
                <a href="/">
                        <img id="logo" src="{{ MEDIA_URL }}/base/logo.png" alt="Karpe Noktem" />
                </a>
                <div id="navigator" class="container">
                {% block topmenu %}
                {% endblock %}
                </div>
        </div>
</div>
{% endblock %}
{% block wrapper %}
<div id="content">
        <div class="container">
                <div id="body">
                {% block overmenu %}
                {% endblock %}
                {% block main %}
                {% block messages %}
                {% if messages %}
                <ul id="messages">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
                {% endblock %}
                {% block body %}
                {% endblock %}
                </div>
                {% endblock %}
                <div class="clear"></div>
        </div>
        {% block footer %}
        {{ block.super }}
        {% endblock %}
</div>
{% endblock %}
