{% extends "base/bare.html" %}

{% block head %}
{{ block.super }}
<link href="{% url style-common %}"
	rel="stylesheet" type="text/css" />
{% endblock %}

{% block topmenu %}
{{ block.super }}
<ul id="menu">
	<li><a href="/">terug</a></li>
        {% if user.is_authenticated %}
	<li><a href="{% url logout %}">uitloggen</a></li>
        {% endif %}{# user.is_authenticated #}
</ul>
{% endblock %}

{% block wrapper %}
{{ block.super }}
{% endblock %}

{% block main %}
<ul id="menu">
	{% block menu %}
	{% endblock %}
</ul>
<div id="actualContent">
{{ block.super }}
</div>
{% endblock %}
