{% extends "base/bare.html" %}

{% block head %}
{{ block.super }}
<link href="{% url style-common %}"
	rel="stylesheet" type="text/css" />
<style type="text/css">
        #body { background-image:
                url({{ MEDIA_URL }}/base/bg.png); }
</style>
{% endblock %}

{% block wrapper %}
<div id="logo"></div>
{{ block.super }}
{% endblock %}

{% block main %}
<ul id="menu">
	{% block menu %}
	<li><a href="/">Terug</a></li>
        {% if user.is_authenticated %}
	<li><a href="{% url logout %}">Uitloggen</a></li>
        {% endif %}{# user.is_authenticated #}
	{% endblock %}
</ul>
{{ block.super }}
{% endblock %}
