body {
        padding-left: 0;
}

#wrapper {
        width: 975px;
        margin: 0 auto;
}

#menu ul {
	margin-left: 0;
}

#logo {
	height: 97px;
	background-image: url({{ MEDIA_URL }}/base/logo.png);
	background-repeat: no-repeat;
        background-position: center;
}

#body {
        float: left;
        width: 791px;
        margin: 0;
        padding: 12px 0 10px 14px;
        background-repeat: repeat-y;
        background-position: top center;
        min-height: 511px;
}


#menu {
        float: left;
        width: 160px;
}

#menu li {
	padding-top: 4px;
	font-weight: bold;
}

#menu ul li {
	padding-top: 0;
	font-weight: normal;
}

#menu ul, #menu {
	list-style: none;
	padding-left: 10px;
}

#menu a {
	text-decoration: none;
}

#menu a {
	display: block;
}

a:hover {
	color: #f00;
}

#menu a:hover {
	color: #fff;
	text-decoration: underline;
}

#footer, #main {
        border-top: 1px solid #800100;
}

#footer {
        margin-bottom: 20px;
}

small {
        color: gray;
}

.clear {
        clear: both;
}

#planningOverview {
        width: 100%;
}

#planningOverview .poolHeader {
        padding-top: 15px;
        text-align: center;
        border-bottom: 2px solid white
}

.hugefield {
        width: 500px;
}

.largefield {
        width: 300px;
}

.mediumfield {
        width: 200px;
}

.smallfield {
        width: 50px;
}
