{% extends "leden/base.html" %}
{% load base %}

{% block body %}
<script type="text/javascript">
var fields = {{ fields|safe }};
var prefill = {{ prefill|safe }};
var weight_fields = {{ weight_fields|safe }};
var htmlFields = [];
var htmlWeightFields = [];

function build_structure(tbd) {
    var tif = {}; //Hier komen alle fields in om ze daarna een tabIndex te geven
    var wf_map = {}; // Hier komt {field -> is_weighted}
    for(var i = 0; weight_fields.length > i; i++) {
            wf_map[weight_fields[i]] = true;
    }
    for(var i = 0; fields.length > i; i++) {
        row = fields[i];
        var tr = document.createElement('tr');
        for(var j = 0; row.length > j; j++) {
            if(row[j] == '') {
                var td = document.createElement('td');
                td.colSpan = 3;
                tr.appendChild(td);
            } else if(row[j][0] == '!') {
                var td = document.createElement('td');
                td.style.fontWeight = 'bold';
                td.style.textDecoration = 'underline';
                td.style.paddingTop = '20px';
                td.colSpan = 3;
                td.appendChild(document.createTextNode(row[j].substring(1)));
                tr.appendChild(td);
            } else {
                var td = document.createElement('td');
                td.appendChild(document.createTextNode(row[j]));
                tr.appendChild(td);

                td = document.createElement('td');
                var f = document.createElement('input');
                f.type = 'text';
                f.size = 3;
                f.name = row[j];
                if(prefill[f.name]) {
                    f.value = prefill[f.name];
                }
                var embedWrapper = function(f) {
                    f.onkeyup = function() {
                        if(f.value == 'tik') {
                            var s = prompt("Tik een teken per turfje aan", '');
                            f.value = s.length;
                        }
                    };
                };
                embedWrapper(f);
                td.appendChild(f);
                tr.appendChild(td);
                htmlFields.push(f);
                if((typeof tif[j]) == 'undefined') {
                        tif[j] = [];
                }
                tif[j].push(f);

                td = document.createElement('td');
                if(typeof wf_map[row[j]] != 'undefined') {
                    var wf = document.createElement('input');
                    wf.type = 'text';
                    wf.size = 4;
                    wf.name = row[j] +'_weights';
                    wf.fieldname = row[j];
                    if(prefill[row[j]]) {
                        f.value = '';
                        wf.value = '';
                        var ex = prefill[row[j]].split(',');
                        for(var exi = 0; ex.length > exi; exi++) {
                            if(ex[exi][0] == 'g') {
                                if(wf.value != '') {
                                    wf.value += ',';
                                }
                                wf.value += ex[exi].substring(1);
                            } else {
                                if(f.value != '') {
                                    f.value += ',';
                                }
                                f.value += ex[exi];
                            }
                        }
                    }
                    td.appendChild(wf);
                    htmlWeightFields.push(wf);
                    tif[j].push(wf);
                }
                tr.appendChild(td);
            }
        }
        tbd.appendChild(tr);
    }

    tbd.appendChild(tr);

    var ti = 1;
    for(var j in tif) {
        for(i = 0; tif[j].length > i; i++) {
            tif[j][i].tabIndex = ti++;
        }
    }

    return tbd;
}

function presubmit(form) {
    var data = {};
    for(var i = 0; htmlFields.length > i; i++) {
        var f = htmlFields[i];
        if(f.value) {
            data[f.name] = f.value;
        }
    }
    for(var i = 0; htmlWeightFields.length > i; i++) {
        var f = htmlWeightFields[i];
        if(f.value) {
            if(typeof data[f.fieldname] == 'undefined') {
                data[f.fieldname] = 'g';
            } else {
                data[f.fieldname] += ',g';
            }
            data[f.fieldname] += f.value.replace(',', ',g');
        }
    }
    // XXX use JSON-encoding from jQuery or the like
    var out = '';
    for(var k in data) {
        out += ',"'+ k +'": "'+ data[k] +'"';
    }
    out = '{'+ out.substring(1) +'}';
    document.getElementById('id_jsondata').value = out;
    return true;
}

//     Dangerous Globals.
// The variable below was first simply called "oldOnload"
// which caused an infinite loop when an extending template
// performed the same trick. 
oldOnload_Form = window.onload
window.onload = function() {
    if(oldOnload_Form) {
        oldOnload_Form();
    }
    build_structure(document.getElementById('generated_table'));
};
</script>
<table>
    <tbody id="generated_table"></tbody>
</table>
<form method="POST" onSubmit="return presubmit(this);">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td><input type="submit" value="Opslaan"></td>
        </tr>
    </table>
</form>
{{ block.super }}
{% endblock %}
