{% extends "leden/base.html" %}
{% load base %}

{% block body %}
<script type="text/javascript">
    function planning_api(data, cb) {
        data.csrfmiddlewaretoken = '{{ csrf_token }}';
        $.post("/planning/!api", data, cb, "json");
    }

    function set_select_by_id(fieldid, value) {
        var el = document.getElementById(fieldid);
        el.value = value;
    }

    function show_more_suggestions(id) {
        var el = document.getElementById('more_'+ id);
        el.style.display = 'inline';
        el = document.getElementById('more_element_'+ id);
        el.parentNode.removeChild(el);
    }

    function reminder_sent(d) {
        if(d.error) {
            alert(d.error);
        }
        if(d.success) {
            alert('Ok');
        }
    }

    function send_reminder(vid) {
        planning_api({'action': 'send-reminder',
                'vacancy_id': vid}, reminder_sent);
    }
</script>
{% for event in events %}
<form method="post" action=".">
    {% csrf_token %}
    <input type="hidden" name="eid" value="{{ event.id }}">
    {{ event.form.non_field_errors }}
    <table>
        <tr>
            <th colspan="2"><a href="{% url planning-event-edit event.id %}">{{ event.date }}</a></th>
            <th colspan="2"><a href="{% url planning-event-edit event.id %}">{{ event.name }}</a>  <small>{{event.kind}}</small></th>
        </tr>
{% for vacancy in event.vacancies %}
        <tr>
            <td>{{ vacancy.formField.label }}</td>
{% if vacancy.reminder_needed %}
            <td title="Reminder wordt nog verzonden">y</td>
{% else %}
            <td><input type="button" value="R" onClick="send_reminder('{{ vacancy.id }}');" title="Stuur nu een reminder"></td>
{% endif %}
            <td>{{ vacancy.formField }}</td>
            <td style="font-size: 10pt">
{% for suggestion in vacancy.suggestions %}
{% if forloop.counter == 5 %}<a
        href="javascript:show_more_suggestions('{{ vacancy.formField.name }}');"
        id="more_element_{{ vacancy.formField.name }}">more...</a><span
        style="display: none" id="more_{{ vacancy.formField.name }}">{% endif %}
        <a href="javascript:set_select_by_id('id_{{ vacancy.formField.name }}', '{{ suggestion.scorer.id }}');" 
                title="{{ suggestion.score }} - {{ suggestion.scorer.last_shift }}"
                >{{ suggestion.scorer.get_user.name }}</a>{% if not forloop.last %},{% endif %}
{% if forloop.last and forloop.counter > 5 %}</span>{% endif %}
{% endfor %}
            </td>
        </tr>
{% empty %}
        <tr>
            <td colspan="2">
                    Er zijn geen diensten voor pool {{ pool }}.
            </td>
        </tr>
{% endfor %}
{% if event.vacancies %}
        <tr>
            <td colspan="2">
                <input type="submit" value="Sla op" />
            </td>
        </tr>
{% endif %}
    </table>
</form>
{% endfor %}
{{ block.super }}
{% endblock %}
