{% extends "leden/base.html" %}
{% load base %}

{% block body %}
{% for date, day in days.items %}
<form method="post" action=".">
	{% csrf_token %}
	<input type="hidden" name="date" value="{{ date }}">
	{{ day.form.non_field_errors }}
	<table>
		<tr>
			<th>{{ date }}</th>
			<th>Wie</th>
		</tr>
{% for vacancy in day.vacancies %}
		<tr>
			<td>{{ vacancy.formField.label }}</td>
			<td>{{ vacancy.formField }}</td>
		</tr>
{% endfor %}
		<tr>
			<td colspan="2">
				<input type="submit" value="Sla op" />
			</td>
		</tr>
	</table>
</form>
{% endfor %}
{{ block.super }}
{% endblock %}
