{% extends "leden/base.html" %}

{% load base %}
{% load i18n %}

{% block styles %}
{{ block.super }}
<style type="text/css">
#planning-overview-wrapper {
    overflow-x: auto;
}
#planning-overview {
    width: 100%;
    box-sizing: border-box;
}
#planning-overview td {
    vertical-align: top;
    text-align: center;
}
#planning-toolbar {
    text-align: right;
}
#planning-toolbar a.current {
    font-weight: bold;
}
</style>
{% endblock styles %}

{% block body %}
<div id="planning-toolbar">
    <a href="?year=now" {% if period == "now" %} class="current"{% endif %}>huidige planning</a> |
    <a href="?year=past1" {% if period == "past1" %} class="current"{% endif %}>afgelopen jaar</a> |
    <a href="?year=past2" {% if period == "past2" %} class="current"{% endif %}>jaar daarvoor</a>
</div>
<div id="planning-overview-wrapper">
    <table id="planning-overview">
        <tr>
{% for pool in pools %}
            {# TODO pool niet tonen als er voor geen enkel te tonen event diensten zijn #}
            <th>{{ pool.name }}</th>
{% endfor %}
        </tr>
{% for event in events %}
        <tr>
            {# TODO move into stylesheet #}
            <td
                colspan="{{ pools|length }}">
                {% if may_manage_planning %}
                <a href="{% url "planning-event-edit" eventid=event.id %}">
                    <strong>{{ event.datetime|date:"l j F Y" }}</strong>
                    - {{ event.name }}</a>
                {% else %}
                    <strong>{{ event.datetime|date:"l j F Y" }}</strong>
                    - {{ event.name }}
                {% endif %}
            </td>
        </tr>
        <tr>
    {% for poolidx, vacancies in event.vacancies.items %}
            <td>
        {% for vacancy in vacancies %}
            <b>{{ vacancy.begin_time }} - {{ vacancy.end_time }}</b><br>
            {{ vacancy.assignee }}<br>
        {% endfor %}
            </td>
    {% endfor %}
        </tr>
{% endfor %}
    </table>
</div>
{{ block.super }}
{% endblock %}
