<html>
    <head>
        <title>Planning template</title>
    </head>
    <body>
{% for e in events %}
<strong>{{ e.name }}</strong> &ndash; <em>{{ e.date|date:"l j F Y" }}</em><br />
        <br />
{% for vacancy in e.vacancies %}
&nbsp;&nbsp;&nbsp;&nbsp;{{ vacancy.begin_time }} 
&ndash; <span style="color: gray">{{ vacancy.name }}</span>
{% for assignee in vacancy.assignees %}
{% if not forloop.first %}+{% endif %}
{% if assignee %}
            {{ assignee.humanName }}
{% else %}
            <span style="color: red">Iemand</span>
{% endif %}
{% endfor %}
        <br>
{% endfor %}
        <br>
{% endfor %}
    </body>
</html>
