<html>
    <head>
        <title>Planning template</title>
    </head>
    <body>
{% for e in events %}
        <b>{{ e.description }}</b><br>
        <br>
{% for vacancy in e.vacancies %}
&nbsp;&nbsp;&nbsp;&nbsp;{{ vacancy.begin_time }} 
&mdash; <span style="color: gray">{{ vacancy.name }}</span>
{% for assignee in vacancy.assignees %}
{% if not forloop.first %}+{% endif %}
{% if assignee %}
            {{ assignee.user.humanName }}
{% else %}
            <span style="color: red">Iemand</span>
{% endif %}
{% endfor %}
        <br>
{% endfor %}
        <br>
{% endfor %}
    </body>
</html>
