{% extends "static/overbase.html" %}

{% block body %}
<img src="{{ MEDIA_URL }}/static/img/posters2.jpg" />
<p>Karpe Noktem staat bekend om zijn live-acts, zoals Karpe Rockt'em en de 
bandjesavonden. Daarnaast programmeren we voor leden tal van andere
activiteiten. Een kleine greep uit voorgaande hoogtepunten: Karpe Rockt'em, De
nacht van de po&euml;zie, Het jaarlijkse gemaskerd bal &amp; Karpe Noktem
weekend.
Ook verzeil je regelmatig in een vreemde stad tijdens onze Roadtrips en feesten
bij onze zusterverenigingen van het ZEUS-verband.</p>
<p>Natuurlijk is er elke maandag een gezellige borrel in onze vaste stek, de
<a href="{% url "route" %}">Villa van Schaeck</a>.  Wil je concrete 
up-to-date informatie over ons programma? Kijk even in
onze <a href="{% url "agenda" %}">agenda</a>.</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
