{% extends "static/overbase.html" %}

{% block body %}
<img src="{{ MEDIA_URL }}static/img/posters2.jpg" />
<p>Naast een wekelijkse borrel worden er iedere week nog toffe
activiteiten georganiseerd bij Karpe Noktem. Op vrijdagavond is onze
standaard activiteitendag, maar we hebben ook geregeld dingen te doen
op woensdag of donderdag.</p>

<p>We bieden een grote diversiteit aan activiteiten. Zo zijn er
iedere twee maanden themafeesten, zoals Fast Flux, het Foute Feest en
Karpe Rock’tem en hebben we iedere eerste vrijdag van de maand een
Spelletjesdag met de nieuwste bord- en kaartspellen. Daarnaast worden
er ook vaker filmavonden, proeverijen, barbecues, workshops, pubquizzen
en LAN-party's georganiseerd.</p>

<p>Jaarlijkse hoogtepunten zijn onder andere de Nachtpicknick, de Crazy
66, de Alternatieve Bingo, de Halloween Horroravond, Satanklaas en onze
Gala’s.  Ten slotte organiseren we ook ieder jaar twee weekendkampen
en zijn er diverse stedentrips naar binnen- en buitenlandse steden.</p>

<p>Bij Karpe Noktem is er dus voor ieder wat wils en je hoeft je bij
ons nooit een moment te vervelen. Deelname aan activiteiten is niet
verplicht, dus je hoeft alleen onze agenda in de gaten te houden en kunt
langskomen wanneer je het leuk lijkt om ergens aan mee te doen. Onze
wekelijkse ledenmail houdt je ook altijd op de hoogte van de nieuwste
activiteiten.</p>

<p>Let op voor sommige activiteiten wordt er nog een ledenbijdrage
gevraagd en/of is inschrijven verplicht, dus kijk dit altijd even goed
na, zodat je niet voor ongewenste verrassingen kom te staan.</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
