{% extends "static/overbase.html" %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet"
  href="{{ MEDIA_URL }}static/style/aktanokturna.css" />
{% endblock styles %}

{% block body %}
<p>Hier kun je de oudere uitgaven van de Akta Nokturna downloaden:</p>

<ul id="an">
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta44.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta44.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta38.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta38.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta37.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta37.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta36.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta36.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta35.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta35.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta34.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta34.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta33.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta33.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta32.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta32.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta31.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta31.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta30.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta30.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta29.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta29.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta28.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta28.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta27.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta27.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta26.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta26.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta25.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta25.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta24.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta24.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta23.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta23.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta22.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta22.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta21.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta21.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta20.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta20.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta19.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta19.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta18.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta18.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta17.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta17.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta16.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta16.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta15.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta15.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta14.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta14.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta13.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta13.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta12.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta12.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta11.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta11.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta10.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta10.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta9.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta9.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta8.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta8.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta6.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta6.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta5.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta5.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta4.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta4.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta3.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta3.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta2.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta2.jpg" width="200"></a></li>
<li><a href="{% url "groupfolder" subdir="leden" path="aktas/akta1.pdf" %}">
  <img src="{{ MEDIA_URL }}static/img/aktas/akta1.jpg" width="200"></a></li>
</ul>

{% endblock %}
{# vim: set sw=2 ts=2 et: #}
