{% extends "static/overbase.html" %}

{% load base %}

{% block body %}
<p class="imageDisplay">
  <img src="{{ MEDIA_URL }}/static/img/bestuur9.jpg" /><br/>
       <small>Van links naar rechts: Astrid (secretaris), Annemiek (voorzitter),
      Loesje (vicevoorzitter), Peter (pandcommissaris) en Carlien
      (penningmeester)</small>
</p>
<p><strong>Het negende bestuur</strong> van A.S.V. Karpe Noktem is alternatief
op vele fronten. Het eerste bestuur in 7 jaar tijd zonder beta-studenten en
een bestuur met wel heel veel vrouwen. Maar natuurlijk met evenveel enthousiasme
en goede zin als altijd! <em>Annemiek Arfman</em> houdt als voorzitter het
overzicht over de vereniging en behartigt met haar achtergrond als acw'er graag
de culturele belangen binnen de vereniging, <em>Loesje Jacobs</em> onderhoudt
als vice-voorzitter de contacten met onze zusjes en andere partijen en zet graag
haar creatieve talenten in, <em>Astrid van Roosmalen</em> gebruikt haar
expertise als taalwetenschapper om alle communicatie en administratie op een
goede manier te organiseren, <em>Carlien Alferink</em> beheerst naast de Engelse
taal en cultuur ook het talent om alle geldelijke stromen in goede banen te
leiden, en <em>Peter van der Veeken</em> zet zijn studie communicatie effectief
in, door contacten te onderhouden met alle verenigingen binnen de Villa van
Schaeck.</p>

<p>Alle bestuursleden zijn bereikbaar op hun functie- of voornaam
@karpenoktem.nl, behalve Peter, die is bereikbaar
op {% filter email %}petervdv@karpenoktem.nl{% endfilter %}.
<p>&lArr; Het vorige,
<a href="{% url "bestuur8" %}">achtste bestuur</a>;
het volgende,
<a href="{% url "bestuur10" %}">tiende bestuur</a> &rArr;</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
