{% extends "static/overbase.html" %}

{% load base %}
{% load i18n %}

{% block styles %}
{{ block.super }}
<style>
.bestuur-members {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 800px) {
    .bestuur-members {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.bestuur-members .member {
  padding: 0 4px;
}
.bestuur-members .role {
  font-size: smaller;
}
picture {
    display: block;
    text-align: center;
}
picture img {
    height: auto;
}
p {
    text-align: justify;
}
</style>
{% endblock styles %}

{% block body %}
<picture>
  <source srcset="{{ MEDIA_URL }}static/img/bestuur16a-800.webp 800w, {{ MEDIA_URL }}static/img/bestuur16a-1600.webp 1600w" type="image/webp" />
  <source srcset="{{ MEDIA_URL }}static/img/bestuur16a.jpg 800w" />
  <img width="800" height="396" src="{{ MEDIA_URL }}static/img/bestuur16a.jpg" alt="Bestuursfoto bestuur 16" />
</picture>

<div class="bestuur-members">
  <div class="member">
    Juul de Jager
    <div class="role">commissaris bar</div>
  </div>

  <div class="member">
    Floor van Hattum
    <div class="role">voorzitter</div>
  </div>

  <div class="member">
    Hilde Kerkhoven
    <div class="role">penningmeester</div>
  </div>

  <div class="member">
    Ruben Kok
    <div class="role">vicevoorzitter</div>
  </div>

  <div class="member">
    Jelle Cuperus
    <div class="role">secretaris<br />1 sep. t/m 7 jan.</div>
  </div>

  <div class="member">
    Martijn Kuipers
    <div class="role">commissaris intern</div>
  </div>

  <div class="member">
    Tanja van Alfen
    <div class="role">secretaris<br />8 jan. t/m 31 aug.</div>
  </div>
</div>

<p>Het <strong>zestiende bestuur</strong> der A.S.V. Karpe Noktem is een groep enthousiaste, gepassioneerde studenten, die met zeven hoofden zowel kwaliteit als kwantiteit bevat. Met hun veelzijdige kennis en kunde, zullen zij de vereniging naar een glansrijke toekomst leiden.</p>
<p>Dit bestuur is begonnen met Ruben Kok als voorzitter en Floor van Hattum als vicevoorzitter, maar vanaf de tweede ALV (19 februari 2020) van het jaar zijn deze functies omgewisseld.</p>
<p>Kopstuk van het gezelschap is <strong>Floor van Hattum</strong> als voorzitter. Zij zal haar grenzeloze enthousiasme en positiviteit inzetten voor de vereniging. Dankzij haar kennis van de studie <em>Social Work</em> beheerst zij de vaardigheden om niet alleen haar leden, maar ook de reünisten en externe krachten tevreden te houden.</p>
<p>Aanvullend daarop vervult <strong>Ruben Kok</strong> de functie van vicevoorzitter. Zijn creatieve werkinstelling, technische inzichten en vaardigheden zullen in dit bestuursjaar van pas komen.</p>
<p>Met zijn sprankelende persoonlijkheid is <strong>Jelle Cuperus</strong> een uitstekend persoon om te dienen als contactpersoon van de vereniging. Zijn <em>opleiding tot docent Engels</em> geeft hem alle middelen om als secretaris de leden genoeg kennis te geven over interne zaken.</p>
<p>Waarom zou je genieten van maar één charismatische secretaris als je er ook twee kunt hebben? <strong>Tanja van Alfen</strong> zal het stokje na de eerste helft van het jaar overnemen. Als student <em>Artificial Intelligence</em> gebruikt zij haar kennis over programmeren om de ledenadministratie, al dan niet geautomatiseerd, zo strak mogelijk te houden.</p>
<p><strong>Hilde Kerkhoven</strong> zal als penningmeester zicht houden over de financiën van de vereniging. Mede vanwege haar studie <em>Artificial Intelligence</em> zal zij een secuur oogje in het zeil houden en ervoor zorgen dat robots niet met het geld aan de haal gaan.</p>
<p>De functie commissaris bar zal door <strong>Juul de Jager</strong> bekleed worden. Zijn interesse in de horeca zal ervoor zorgen dat onze favoriete activiteiten voorzien zullen zijn van de heerlijkste drank. Als student <em>Psychologie</em> is hij ook uiterst bekwaam in het beheren van de Villa namens onze vereniging.</p>
<p>Met de functie commissaris intern, zal <strong>Martijn Kuipers</strong> met zijn eindeloze geduld de commissies onder zijn hoede nemen. Met zijn hulpvaardige en vriendelijke houding en zijn studie <em>Psychologie</em>, is hij de geschikte persoon om de samenwerking van onze commissies in top conditie te houden.</p>
<p>Alle bestuursleden zijn bereikbaar op de volgende adressen:</p>
<ul>
<li>Floor van Hattum, {% filter email %}voorzitter@karpenoktem.nl{% endfilter %}</li>
<li>Ruben Kok, {% filter email %}vicevoorzitter@karpenoktem.nl{% endfilter %}</li>
<li>Jelle Cuperus, {% filter email %}secretaris@karpenoktem.nl{% endfilter %} (1 september t/m 7 januari)</li>
<li>Tanja van Alfen, {% filter email %}secretaris@karpenoktem.nl{% endfilter %} (8 januari t/m 31 augustus)</li>
<li>Hilde Kerkhoven, {% filter email %}penningmeester@karpenoktem.nl{% endfilter %}</li>
<li>Juul de Jager, {% filter email %}commissarisbar@karpenoktem.nl{% endfilter %}</li>
<li>Martijn Kuipers, {% filter email %}commissarisintern@karpenoktem.nl{% endfilter %}</li>
</ul>

<div style="float: left;">⇐ {% trans "Het vorige" %},
<a href="{% url "bestuur15b" %}">{% trans "vijftiende bestuur (nieuwe samenstelling)" %}</a>
</div>

{% endblock %}
{# vim: set sw=2 ts=2 et: #}
