{% extends "static/base.html" %}

{% block body %}
<p class="imageDisplay">
  <img src="{{ MEDIA_URL }}/static/img/bestuur7.jpg" />
    <center><small><table>
      <tr>
        <td colspan="2" style="text-align: center; padding-right: 25px"
              >Chaim (vicevoorzitter),</td>
      </tr>
      <tr>
        <td style="padding-right: 25px">Bente (penningmeester),</td>
        <td style="padding-left: 10px">Robin (pandcommissaris)</td>
      </tr>
      <tr>
        <td><span style="float: right">en</span>Jille (secretaris)</td>
        <td style="padding-left: 25px">Remco (voorzitter).</td>
      </tr>
    </table></small></center><br>
</p>
<p><strong>Het zevende bestuur</strong> van ASV Karpe Noktem bestaat
  uit 5 enthousiaste leden die een breed spectrum van hun vereniging
  vertegenwoordigen. <em>Remco van Cruchten</em> ('90, voorzitter), student
  moleculare levenswetenschappen, houdt de touwtjes strak en wordt daarbij
  ondersteund door de digitale kennis van <em>Jille Timmermans</em> ('90,
  secretaris), student informatica, en geholpen door een die zelfs bij de
  kleinste zaken scherp blijft, <em>Bente Rotberg</em> ('90, penningmeester),
  studente sociologie, en bijgestaan door <em>Chaim van Rens</em> ('85,
  vicevoorzitter), student leraar geschiedenis,
  de vertegenwoordiging van het HBO
  en, voor alle communicatie binnen de Villa van Schaeck,
  <em>Robin Nazarski</em> ('89, pandcommissaris), studente geschiedenis.</p>

<p>Alle bestuursleden zijn bereikbaar op hun
  functie- of voornaam @karpenoktem.nl.</p>

<p>&lArr; Het vorige, <a href="{% url bestuur6 %}">zesde bestuur</a>; 
het volgende, <a href="{% url bestuur8 %}">achtste bestuur</a> &rArr;</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
