{% extends "static/overbase.html" %}

{% block body %}
<p class="imageDisplay">
<img width="800" src="{{ MEDIA_URL }}static/img/bestuur5.jpg?v=2" /><br/>
    <center><small><table style="text-align: center">
          <tr> <td>Mike</td><td></td><td>Jesper</td> </tr>
      <tr> <td colspan="3">Lisette</td> </tr>
      <tr><td>Maaike</td><td></td><td>Rik</td></tr>
      <tr><td colspan="3">Chris</td></tr>
    </table></small></center><br>
</p>
<p><strong>Het eerste lustrumbestuur</strong> is een geweldige afspiegeling
van de Alternatieve S.V. Karpe Noktem: een jong, fris bestuur van een 
jonge, frisse vereniging. <em>Lisette Huijbers</em> (1987), voorzitter,
studeert rechten en weet met haar expertise en wijsheid de vereniging in 
goede banen te leiden. <em>Rik Sprenkels</em> (1988), secretaris, staat 
de vereniging bij met zijn schrijftalent en biedt stabiliteit door middel
van zijn verslaglegging. <em>Jesper van Wijngaarden</em> (1987), penningmeester, heeft 
veel ervaring met boekhouden en financieel beheer en beheert het geldelijk 
reilen en zeilen van Karpe Noktem. <em>Mike Koeman</em> (1986), 
vice-voorzitter, draagt zorg voor contacten met iedereen buiten de 
vereniging; zijn innige contacten met vele instanties en verenigingen 
helpen hem hier uitstekend mee! <em>Maaike Greveling</em> (1983), hoofd 
activiteiten, weet met haar organisatietalent en creativiteit altijd 
weer leuke, nieuwe activiteiten neer te zetten.</p>
<p>&lArr; Het vorige,
<a href="{% url "bestuur4" %}">vierde bestuur</a>; 
het volgende,
<a href="{% url "bestuur6" %}">zesde bestuur</a> &rArr;</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
