{% extends "base/base.html" %}

{% block body %}
<p class="imageDisplay">
 <img src="{{ MEDIA_URL }}/static/img/bestuur8.jpg" /><br/>
  <small>Van links naar rechts: Sara (vicevoorzitter),
    Koen (pandcommissaris), Stan (voorzitter), Yurre (secretaris)
    en Louise (penningmeester)</small>
</p>
<p><strong>Het achtste bestuur</strong> van A.S.V. Karpe Noktem is typerend
voor de vereniging &mdash; divers, eigenzinnig en bovenal enthousiast.
<i>Stan Beekmans</i> ('91, voorzitter), doet de docentenopleiding natuurkunde
en ziet toe op het reilen en zeilen van de vereniging, daarin bijgestaan
door <i>Yurre Wieken</i> ('90, secretaris), student politicologie en reeds
ervaren in het bestuur van koepelvereniging CHECK, <i>Louise Mouthaan</i>
('92, penningmeester), studente ergotherapie, die toeziet op de
financi&euml;n, <i>Sara van Bezooijen*</i> ('90, vicevoorzitter),
studente omgevingswetenschappen, die de externe contacten voor haar rekening
neemt, en <i>Koen van den Bisen</i> ('88, pandcommissaris), student
moleculaire levenwetenschappen en verantwoordelijk voor de communicatie met
andere verenigingen in de Villa van Schaeck.</p>

<p>Alle bestuursleden zijn bereikbaar op hun functie- of voornaam
@karpenoktem.nl.</p>

<p><small>*Sara van Bezooijen is per 1 maart uit het bestuur
getreden.</small></p>

<p>&lArr; Het vorige,
<a href="{% url bestuur7 %}">zevende bestuur</a>;
het volgende,
<a href="{% url bestuur9 %}">negende bestuur</a> &rArr;</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
