{% extends "static/overbase.html" %}

{% block body %}
<img class="big" src="{{ MEDIA_URL }}/static/img/bestuur4.jpg" />
<p><strong>Het vierde bestuur van Karpe Noktem</strong> zit vol met echte 
coinnaisseurs van het
vak. Bram Balk (Voorzitter) heeft zijn sporen verdiend als hoofdredacteur van
het Algemeen Nijmeegs Studentenblad. Daan Fifis du Pont (Vice-voorzitter) kent
het klappen van de zweep als ex-bestuurslid van debatvereniging Trivium. Jorg
Kennis (secretaris) is veteraan in het bestuur en zorgt voor continuiteit en
ervaring. Jorne van de Veen (Penningmeester) geldt als expert op het gebied
van Financien. De grote creatieve geest in het bestuur is Judith Brinkkemper,
die als oprichtster van de LoCo verse en originele ideeen de vrije ruimte
geeft.</p>
<p>&rArr; Het volgende,
<a href="{% url bestuur5 %}">vijfde bestuur</a>.</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
