{% extends "static/overbase.html" %}

{% load base %}
{% load i18n %}

{% block body %}

<img width="707" src="{{ MEDIA_URL }}static/img/bestuur18a.jpg" alt="Bestuursfoto bestuur 18 A"/>

<div style="white-space: pre-line">Wij zijn bestuur 18, een diverse groep mensen
Leer ons kennen voordat je je een ander bestuur gaat wensen
We willen ons dus voorstellen via dit bericht
Dus, voor wie dit leest, geniet van ons gedicht!

Allereerst onze voorzitter Caitlin, een doorzetter en een tikkeltje eigenwijs.
Als ze even rust van ons nodig heeft, gaat ze kamperen en is ze bezig met haar eigen reis.
Ze biedt een luisterend oor om de lucht te klaren, ook al was deze grijs.

Dan hebben we onze Penningmeester Femke, ze houdt niet van subtiel en heeft het liever verbaal.
Ze raakt graag compleet verloren in een goed verhaal
Met haar wapencollectie en op blote voeten laat ze wat van zich horen
Kortom, een echte mede-drinkende Viking op een ivorentoren.

Dan heb je onze secretaris Lotte, van haar zal je voortdurend dierenfeitjes horen.
Tenzij ze druk bezig is met haar opleiding Toegepaste Psychologie, dan kan je haar beter niet storen.
Lotte is misschien zelf geen heks maar ze houdt wel van geesten.
Het griezelige Halloween is niet voor niets haar favoriete dag om te feesten.

Dan hebben we nog Stephanie, onze Commissaris Activiteiten.
Ze is altijd enthousiast en heeft voor veel verschillende dingen affiniteiten.
Van ruiterboogschieten tot zingen tot de Salsa om lekker op te swingen.
Altijd bezig met nieuwe ideeën, daar staat ze dan ook om te springen.
Je kunt tenslotte ook niet dwingen, dat de prettig gestoorde stopt met het aandragen van epische dingen.

Tot slot heb je mij nog de schrijver van dit gedicht.
De Pandcommissaris Bas M., je kent hem wel, die ene gek die is ontsnapt uit het gesticht.
Altijd bezig met van alles; dan naar zus en dan naar zo, en dan stuurt hij weer een bericht.
Zalen goor en slecht belicht, dan heeft hij soms een te grote bek.
Maar weet wel dat ook hij, net als geheel B18, houdt van de vereniging en zijn leden, ook al is hij compleet gek. 
</div>

<p>Alle bestuursleden zijn bereikbaar op de volgende adressen:</p>
<ul>
  <li>Voorzitter: Caitlin Valkering ({% filter email %}voorzitter@karpenoktem.nl{% endfilter %})</li>
  <li>Secretaris: Lotte Brouwers ({% filter email %}secretaris@karpenoktem.nl{% endfilter %})</li>
  <li>Penningmeester: Femke Boomsma ({% filter email %}penningmeester@karpenoktem.nl{% endfilter %})</li>
  <li>Pandcommissatis: Bas Minkhorst ({% filter email %}pandcommissaris@karpenoktem.nl{% endfilter %})</li>
  <li>Commissaris Activiteiten: Stephanie Teunesen ({% filter email %}commissarisactiviteiten@karpenoktem.nl{% endfilter %})</li>
</ul>

<div style="float: left;">⇐ {% trans "Het vorige" %},
<a href="{% url "bestuur17a" %}">{% trans "zeventiende bestuur" %}</a>
</div>

{% endblock body %}
{# vim: set sw=2 ts=2 et: #}
