{% extends "static/base.html" %}

{% load base %}

{% block body %}
<dl>
  <dt> Voor verzoeken, aanbiedingen en andere algemene zaken kunt u
    zich wenden tot de secretaris: </dt>
  <dd>{% filter email %}secretaris@karpenoktem.nl{% endfilter %} / T: 06-25231427</dd>
  <dt>Voor alle financi&euml;le zaken, mag u zich wenden tot de penningmeester:
    </dt>
  <dd>{% filter email %}penningmeester@karpenoktem.nl{% endfilter %}</dd>
  <dt>Voor vragen ofwel opmerkingen over de website karpenoktem.nl kunt u 
    mailen met:</dt>
  <dd>{% filter email %}webcie@karpenoktem.nl{% endfilter %}</dd>
  <dt>Kerstkaarten, uitnodigingen, rekeningen en alle andere zaken kunt
    u sturen naar:</dt>
  <dd>
    <abbr title="Alternatieve Studentenvereniging">ASV</abbr> Karpe Noktem<br/>
    Postbus 1221<br/>
    6501BE Nijmegen
  </dd>
</dl>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
