{% extends "static/base.html" %}

{% load base %}
{% load i18n %}

{% block body %}
<dl>
  <dt>{% blocktrans %}Voor verzoeken, aanbiedingen en andere algemene
  zaken kunt u zich wenden tot de secretaris:{% endblocktrans %}</dt>
  <dd>{% filter email %}secretaris@karpenoktem.nl{% endfilter %}
      / T: <a href="tel:+31613566301">0613566301</a></dd>
  <dt>{% blocktrans %}Voor alle financi&euml;le zaken, mag u zich
  wenden tot de penningmeester:{% endblocktrans %}</dt>
  <dd>{% filter email %}penningmeester@karpenoktem.nl{% endfilter %}</dd>
  <dt>{% blocktrans %}Voor vragen ofwel opmerkingen over de website
  karpenoktem.nl kunt u mailen met:{% endblocktrans %}</dt>
  <dd>{% filter email %}webcie@karpenoktem.nl{% endfilter %}</dd>
  <dt>{% blocktrans %}Kerstkaarten, uitnodigingen, rekeningen en
  alle andere zaken kunt u sturen naar:{% endblocktrans %}</dt>
  <dd>
    <abbr title="Alternatieve Studentenvereniging">ASV</abbr> Karpe Noktem<br/>
    Postbus 1221<br/>
    6501BE Nijmegen
  </dd>
</dl>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
