{% extends "static/base.html" %}

{% load base %}
{% load i18n %}

{% block body %}
<dl>
  <dt>
    Langskomen op een activiteit is, tenzij anders aangegeven, altijd mogelijk.
    <p>
      Vind je het spannend om alleen naar een activiteit te gaan? Stuur dan een mailtje naar {% filter email %}buddys@karpenoktem.nl{% endfilter %}. Dan zorgen wij ervoor dat een van onze lieve leden met je meegaat.
    </p>
    Onze activiteiten vinden standaard plaats op:
  </dt>
  <dd>
    Villa van Schaeck </br>
    Van Schaeck Mathonsingel 10 </br>
    6512AP Nijmegen </br>
    <a href="https://goo.gl/maps/Sa7EHmx8QuA7rpC26">Klik hier voor de route</a>
  </dd>

  <dt>{% blocktrans %}Voor verzoeken, aanbiedingen en andere algemene
  zaken kunt u zich wenden tot de secretaris:{% endblocktrans %}</dt>
  <dd>{% filter email %}secretaris@karpenoktem.nl{% endfilter %}</dd>
  <dt>{% blocktrans %}Voor alle financi&euml;le zaken, mag u zich
  wenden tot de penningmeester:{% endblocktrans %}</dt>
  <dd>{% filter email %}penningmeester@karpenoktem.nl{% endfilter %}</dd>
  <dt>{% blocktrans %}Voor vragen ofwel opmerkingen over de website
  karpenoktem.nl kunt u mailen met:{% endblocktrans %}</dt>
  <dd>{% filter email %}webcie@karpenoktem.nl{% endfilter %}</dd>
  <dt>{% blocktrans %}Kerstkaarten, uitnodigingen, rekeningen en
  alle andere zaken kunt u sturen naar:{% endblocktrans %}</dt>
  <dd>
    <abbr title="Alternatieve Studentenvereniging">ASV</abbr> Karpe Noktem<br/>
    Postbus 1221<br/>
    6501BE Nijmegen
  </dd>
</dl>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
