{% extends "static/overbase.html" %}

{% block body %}
<p><em>Door Giedo Jansen, Oprichter van Karpe Noktem</em></p>
<img src="{{ MEDIA_URL }}/static/img/giedo.jpg"
  class="right" title="Giedo Jansen">
<p>Karpe Noktem is één van de jongste gezelligheidsvereniging
van Nijmegen. Het
idee voor de vereniging ontstond in de introductie van 2003. In de aanloop naar
het daadwerkelijk opstarten van een nieuwe vereniging organiseerde Karpe Noktem
in april en juni 2004 twee feesten. Een officieus oprichtingsfeest in
Café De
Onderbroek en een Midzomernachtfeest in toenmalig café Gonzo. Twee
volle zalen
maakte ons overtuigd van het gene wat we al maanden riepen: er is animo voor een
alternatieve gezelligheidsvereniging in Nijmegen!</p>
<p>En zo geschiedde het... In de zomermaanden van 2004 maakt Karpe Noktem zich
op voor de studentenintroductie. In een week tijd bestookt de vereniging de
aankomende studenten met een drietal activiteiten. Een 80's Bash/WaPuSka
(in/met Diogenes), een avondje relaxen in de zomerzon, en een Loungefeest (in
De Onderbroek). Eveneens is Karpe Noktem aanwezig op de informatiemarkt, en
wordt er die week voor het eerst een begin gemaakt met het werven van leden.
Na intro wordt de balans opgemaakt, en telt de vereniging zo'n 15 leden.</p>
<p>Vanaf september 2004 begint Karpe Noktem goed op gang te komen, en
langzamerhand vorm te krijgen. De twee wekelijkse borrel wordt
geïntroduceerd,
en de activiteiten krijgen de regelmaat die ze nodig hebben. Na een maand acht
het bestuur de tijd rijp voor een uitdaging, en wordende kersverse leden
uitgenodigd voor een weekend in het idyllische Hoenderloo. Het wordt een
gedenkwaardig weekend waarin de workshops de gezelligheid afwisselen.</p>
<p>Verdere hoogpunten in het prille bestaan van Karpe Noktem zijn het piraten
themafeest "Kapen en Kielhalen", de Sinterklaas-Bingo-avond, en de eerste
Bandjesavond (met optredens van The Analog Project, Pharmacon en Ska Zuster Nee
Zuster).</p>
<img src="{{ MEDIA_URL }}/static/img/logo oud.jpg"
    class="right" title="Oprichtingsposter">
<p>Karpe Noktem sluit het jaar 2004 vol goed gemoed af met de betrekking van een
bestuurskamer in het Gymnasion. Vanuit deze plek zal de Karpe Noktem-motor
draaiende worden gehouden, ten einde ook in 2005, en in de decennia erna,
activiteiten te blijven organiseren die als legendarisch de geschiedenis in
zullen gaan.</p><p>
</p><p>In januari 2005 gaat Karpe Noktem dansend het nieuwe jaar in met een feest in
de Gonzo met de toepasselijke naam "Dansfeest". Een maand later volgde de nu al
roemruchte Karpe Noktem's Extreme playbackshow. Een zinderde avond waar George
Baker gebroederlijk naast The Supremes en KISS stond. Met een publiekslieveling
het optreden van een behaarde Ariel de zeemeerm(i/a)n.</p>
<p>Ook in de periode februari tot en met mei staat het programma bom vol van de
meest uiteenlopende activiteiten. Karpe Noktem plukt boompjes in de Hatertse
Vennen, staat oog in oog met Het Kwaad (Tropenmuseum), kijkt films, en stelt
zich bloot en een schandalige hoeveelheid alcohol (bierspellenavond).</p>
<p>Maar de onbetwiste hoogtepunten van het tweede halve jaar Karpe Noktem zijn
toch echt. Het Broeder en Zusterfeest in De Onderbroek (met bezoek van zusjes
Catena, Saam, Wolbodo), Het Hippiefeest in Gonzo, en het Gemaskerde eindfeest
van Karpe Noktem in De Cloostertuyn.</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
