{% extends "static/base.html" %}
{% load short_agenda %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet"
  href="{{ MEDIA_URL }}agenda/agenda.css" />
<link rel="stylesheet"
  href="{{ MEDIA_URL }}static/style/home.css" />
{% endblock styles %}

{% block head %}
{{ block.super }}
<script type="text/javascript"
  src="{{ MEDIA_URL }}static/jquery.nivo.slider.pack.js" defer></script>
<link rel="stylesheet" type="text/css" deferred-href="{{ MEDIA_URL }}static/style/nivo-slider.css" />
<link rel="stylesheet" deferred-href="{{ MEDIA_URL }}static/nivo-slider/default.css" type="text/css" media="screen" />
<meta name="description"
    content="Karpe Noktem is de alternatieve studentenvereniging van Nijmegen,
             waar er geen ontgroening is en er zo weinig mogelijk verplichtingen zijn." />
{% endblock %}


{% block body %}
<div id="home-text">
	<p>Hallo, welkom bij Karpe Noktem, de gezelligste studenten&shy;vereniging van Nijmegen! Wij zijn hét alternatief voor iedereen die zich niet tot traditionele verenigingen aangetrokken voelt. Wij brengen HBO- en WO-studenten op een ongedwongen manier samen. Karpe Noktem organiseert onder andere concerten voor de muziekliefhebbers, spelletjesavonden voor de gamefreaks, stedentrips voor de avonturiers, nachtpicknicks voor de hippies, filmavonden voor de cinematografische snobs, schrijversavonden voor de literaire talenten en een wekelijkse borrel voor de stamgasten.</p>

	<p>Karpe Noktem is een vereniging met zo weinig mogelijk verplichtingen. Er is geen ontgroening en je kunt het hele jaar lid worden. Maar ook mensen van buiten de vereniging vinden we hartstikke gezellig: dus kom gerust eens een kijkje nemen op een van onze feesten of open borrels.</p>

	<p>Dus: wil jij nog iets gezelligs doen naast je studie? Wil je niet alleen bij je studie blijven hangen? En wil je nog iets ondernemen en zien van de wereld? Dan is Karpe Noktem de vereniging voor jou!</p>
</div>

<div id="slider-wrapper" class="slider-wrapper theme-default">
  <div id="slider" class="nivoSlider">
    {% for image in slideshow_images %}
    <img src="{{ image }}" alt="" />
    {% endfor %}
  </div>
</div>

<div id="agenda-wrapper">
{% show_short_agenda %}
</div>

<script type="text/javascript">
$(window).load(function() {
  $('#slider').nivoSlider({
    effect: 'sliceDown',
    animSpeed: 750,
    pauseTime: 5000,
    pauseOnHover: true,
    prevText: 'vorige',
    nextText: 'volgende',
    directionNav: true,
    randomStart: false
  });
});
</script>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
