{% extends "base/bare.html" %}

{% load i18n %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet"
  href="{{ MEDIA_URL }}static/style/introPoster2009.css" />
{% endblock styles %}

{% block body %}
<a href="{% url "intro2009" %}" title="{% trans "Naar de website" %}" />
     <img src="{{ MEDIA_URL }}static/img/introposter2009.jpg"
        alt="{% trans "Intro Poster 2009. Klik hier om verder te gaan naar de website" %}"
        title="{% trans "Intro Poster 2009" %}"
        class="boilerplate" /></a>
<p class="wrappingtext">(<a href="{% url "intro2009" %}"
    >{% trans "ga naar de website" %}</a>)</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
