{% extends "static/base.html" %}
{% load i18n %}
{% load base %}

{% block body %}
{% url "activiteiten" as url_activiteiten %}
{% url "route" as url_route %}
<p>{% blocktrans with secretaris="secretaris@karpenoktem.nl"|email%}
  Kom eens een keer langs bij een van onze
  <a href="{{ url_activiteiten }}">activiteiten</a>,
    bijvoorbeeld de maandagavond
  borrels in de <a href="{{ url_route }}">Villa van Schaeck</a>, of stuur een
  e-mailtje naar {{ secretaris }} en dan is het zo geregeld!{% endblocktrans %}
</p>

<p>{% blocktrans with secretaris="secretaris@karpenoktem.nl"|email%}
  Wil je je uitschrijven? Stuur ook dan een mailtje naar
  {{ secretaris }}.{% endblocktrans %}
</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
