{% extends "static/base.html" %}
{% load i18n %}
{% load base %}

{% block body %}
{% url "activiteiten" as url_activiteiten %}
{% url "route" as url_route %}
{% url "agenda" as url_agenda %}
<p>{% blocktrans with secretaris="secretaris@karpenoktem.nl"|email buddys="buddys@karpenoktem.nl"|email %}
  Lijkt jou het leuk om een keertje op een van onze activiteiten te komen kijken? Kom vooral langs, bijna al onze activiteiten zijn open. Elke maandag hebben we een borrel en daarbuiten hebben we ook allerlei andere activiteiten! Denk bijvoorbeeld aan spelletjesavonden, nachtpicknicks en bandjesavonden! Alle activiteiten zijn te vinden op de <a href="{{ url_agenda }}">agenda</a>.
</p>
<p>
  Vind je het spannend om alleen naar een activiteit te gaan? Stuur dan een mailtje naar {{ buddys }}. Dan zorgen wij ervoor dat een van onze lieve leden met je meegaat.
</p>
<p>
Weet je al zeker dat je lid wilt worden? Inschrijfformulieren kun je verkrijgen bij de bar tijdens een van onze activiteiten. 
</p>
<p>
  Vragen? Stuur een e-mail naar {{ secretaris }} en dan is het zo geregeld!
</p>
{% endblocktrans %}

<p>{% blocktrans with secretaris="secretaris@karpenoktem.nl"|email%}
  Wil je je uitschrijven? Stuur ook dan een mailtje naar
  {{ secretaris }}.{% endblocktrans %}
</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
