{% extends "static/base.html" %}

{% block body %}
<p>Karpe Noktem op</p>
<ul>
  <li><a href="http://www.facebook.com/karpenoktem">Facebook</a>,</li>
  <li><a href="http://twitter.com/karpenoktem">Twitter</a> en</li>
  <li><a href="http://www.last.fm/group/Karpe+Noktem">Last.fm</a>.</li>
</ul>

<p>Wij hebben ons ook begeven op</p>
<ul>
  <li><a href="http://karpenoktem.hyves.nl/">Hyves</a> en</li>
  <li><a href="http://www.flickr.com/photos/12267979@N04/">Flickr</a> (kijk
  voor de nieuwe foto's op
  <a href="{% url fotos %}">onze eigen site</a>).</li>
</ul>

<p>Maar vergeet niet</p>
<ul>
  <li><a href="{% url wiki %}">onze wiki</a>,</li>
  <li><a href="{% url forum %}">ons forum</a> en</li>
  <li>de <a href="{% url zusjes %}">zusjes</a>.</li>
</ul>

{% endblock %}
{# vim: set sw=2 ts=2 et: #}
