{% extends "static/base.html" %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}static/style/lustrum.css" />
{% endblock styles %}

{% block body %}
<dl id="lustrumAgenda">
<div class="date">25 mei</div>
<dt>Maandagavond &mdash; borrel</dt>
<dd>
<img src="{{ MEDIA_URL }}static/img/lustrum5-maandag.jpg" class="left" />
Een maandagavondborrel als alle andere &mdash; alleen zullen deze keer
oud-bestuursleden om 22:00 een presentatie geven!  De ex-voorzitters
Giedo Jansen, Alette Ouwens en Bram Balk vertellen over de vroegste tijden
uit de geschiedenis van Karpe Noktem.  Wellicht zullen er ook enkele externen
aanwezig zijn.  Uiteraard geldt op deze borrel het gebruikelijke bartarief en
-aanbod van ASV Karpe Noktem.
</dd>

<div class="date">26 mei</div>
<dt>Dinsdagavond &mdash; eten met leden</dt>
<dd>
<img src="{{ MEDIA_URL }}static/img/lustrum5-dinsdag.jpg" class="right" />
In het gebouw van Scouting Traianus Nijmegen zal onze allereerste offici&euml;le
'eten met leden'-activiteit plaatsvinden.  Tijdens deze megapicknick neemt ieder
lid een maaltijd mee om te delen met zijn of haar medeleden, die op hun beurt ook
allemaal iets te eten hebben meegenomen.  Ook de LustrumCie zorgt voor het nodige
drinken en enkele versnaperingen.  Dus, maak een frisse salade, een vullend
hoofdgerecht, heerlijke soep of een tongstrelend toetje en voer daarmee je
medeleden (dan wel niet op romantische wijze)!  Er is overigens een mogelijkheid
tot het opwarmen van je gerecht.  Na het voedselfestijn is er ruim tijd om uit te
buiken en na te genieten!
</dd>
 
<div class="date">27 mei</div>
<dt>Woensdagmiddag &mdash; spelen en relaxen in Park Brakkenstein</dt>
<dd>
Na de zware maaltijd van dinsdagavond moeten al die extra calorie&euml;n er
natuurlijk wel weer vanaf (of niet).  Daarom gaan we 's woensdags naar Park
Brakkenstein om daar in de middagzon te genieten van enkele sportieve activiteiten
(of niet).  Als je namelijk geen zin in hebt in al dat geren en gespring kun je
uiteraard ook een beetje chillen in het gras.  Iedereen is welkom om wat
picknick-benodigdheden mee te nemen, zoals sandwiches, pannekoeken, picknickmanden,
tafelkleden, limonade, enzovoorts.  De LustrumCie zal zorgen voor bier, fris
en wijn.
</dd>

<div class="date">28 mei</div>
<dt>Donderdagavond &mdash; het eerste lustrumfeest in de Villa</dt>
<dd>
<img src="{{ MEDIA_URL }}static/img/myrkvar.jpg" class="right" />
Het hoogtepunt van de week!  Tijdens deze explosieve avond in de grote zaal van
de Villa is iedereen welkom om het eerste lustrum van Karpe Noktem mee te vieren!
De avond zal stevig, maar vrolijk geopend worden door folkmetalband
<a href="http://www.myrkvar.nl/">Myrkvar</a>;
vervolgens zullen de springerige folkpunkriffjes van
<a href="http://www.baggerunited.nl/">Bagger United</a>
je voeten verder de nacht in dragen!  De avond wordt voortgezet met onze eigen
DJ's Felix en Stonehead.  Het lustrumfeest is tevens zusjesfeest, dus we
kunnen bezoek verwachten uit alle hoeken en gaten van Nederland.  Consumpties
zullen 1 euro bedragen, zoals jullie van Karpe Noktem gewend zijn.
</dd>
 
<div class="date">29 mei</div>
<dt>Vrijdagavond &mdash; filmavond</dt>
<dd>
<img src="{{ MEDIA_URL }}static/img/lustrum5-vrijdag.jpg" class="left" />
Na een vermoeiende donderdagavond is het tijd voor rust en recreatie.  Daarom
zullen we ons vrijdagavond verzamelen in cafe 't Haantje om daar relaxed te
genieten van een film <a 
href="http://karpenoktem.nl/poll/vote/lustrum5film/">die jullie zelf mogen 
kiezen via de poll op onze site</a>!  Alle
zusjes die nog in Nijmegen zijn gestrand zijn natuurlijk van harte welkom om samen
met Karpe Noktem uit te puffen.
</dd>
</dl>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
