{% extends "static/base.html" %}

{% load base %}

{% block body %}
<ul>
  <li>Foto's van <a href="{% url fotos "" %}"
                >Karpe Noktem</a></li>
  <li>Foto's van <a
    href="{% url fotos "pdn" %}"
                >Pluk de Nacht weekend</a></li>
  <li>2009: Een reportage van <a
  href="http://www.youtube.com/watch?v=NLOT1TkZTf4"
                >Campus in Beeld</a> tijdens onze nachtpicknick</li>
  <li>2008: een reportage van
    <a href="http://www.voxlog.nl/blog/studentslive-carolus-magnus-karpe-noktem"
                >Voxlog</a>
  en <a href="http://www.campus.tv/index.php?action=showmovie&movieid=1142"
                >CampusTV</a>
  over het Tussen Twee Werelden Feest met Carolus Magnus
  tijdens de Ragweek</li>
</ul>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
