{% extends "static/overbase.html" %}

{% block body %}
<img src="{{ MEDIA_URL }}static/img/dansend.jpg" class="right" />
<p>Karpe Noktem is een dynamisch alternatief voor iedereen die zich niet tot 
traditionele verenigingen aangetrokken voelt. Wij brengen HBO- en WO-studenten
op een ongedwongen manier samen. De meeste  verenigingen eisen van nieuwe leden
een ontgroening en jarenlange aanwezigheidsplicht.
Karpe Noktem wil vooral veel bieden: een wekelijkse borrel, elke
vrijdagavond een activiteit, bandjesavonden, spelletjesmiddagen, en
verschillende themafeesten. </p>

<p>Bij Karpe Noktem maken de leden de vereniging. We bieden wekelijks
activiteiten aan die voor en door leden zijn georganiseerd. Daardoor
blijft iedereen bij elkaar betrokken en is er voor ieder wat wils. Zo
leer je ook heel snel je nieuwe stad kennen. Meer informatie over onze
activiteiten vind je <a href="{% url "activiteiten" %}">hier</a>.<p>

<p>Dus: wil jij nog iets gezelligs doen naast je studie? Wil je niet alleen bij
je studie blijven hangen? En wil je nog iets ondernemen en zien van de wereld?
Ongedwongen, actief, dynamisch, veelzijdig. Karpe Noktem... anders ook!</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
