{% extends "static/overbase.html" %}
{% load i18n %}

{% block body %}
<img src="{{ MEDIA_URL }}static/img/dansend.jpg" class="right" />
<p>{% blocktrans %}Karpe Noktem is een kleinschalige, gezellige studentenvereniging voor
iedereen die zich niet tot traditionele studentenverenigingen aangetrokken
voelt.
Karpe Noktem is er voor zowel WO- als HBO-studenten
en binnen ons ledenbestand hebben we van bijna elke studie wel iemand. 
Bij Karpe Noktem is iedereen welkom. Er is geen ontgroening, en alle leden zijn gelijk: 
binnen de vereniging hangt daarom een ongedwongen, ontspannen sfeer. 
Niks hoeft, (bijna) alles kan.  
Bij Karpe Noktem maken de leden de vereniging: de activiteiten worden georganiseerd
door actieve leden en er is hierdoor veel ruimte voor eigen initiatieven. 
Daarom is er voor ieder wat wils: feesten voor de feestbeesten, 
concerten voor de muziekfreaks, spelletjesavonden voor de bordspelfanaten,
ledenblad Akta Nokturna voor literair talent, LAN-parties voor gamers 
en een wekelijkse borrel voor de stamgasten. En heb je een leuk idee voor 
een activiteit? Dan is daar ook ruimte voor!
{% endblocktrans %}</p>
<h4>Kennismaken met Karpe Noktem</h4>
<p>{% blocktrans %}
Wij hebben twee introductieweken per jaar: begin september en begin
februari kan je een week lang elke dag bij de vereniging terecht om de leden te leren kennen
en om te zien of lidmaatschap van Karpe Noktem iets voor jou is! Buiten deze 
introductieweken kan je altijd gewoon langskomen op onze activiteiten. 
{% endblocktrans %}</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
