{% extends "static/base.html" %}

{% load i18n %}

{% block submenu %}
<div id="submenu-wrapper" class="toggle">
    <a id="submenu-button" href="" class="toggle-button">&nbsp;</a>
    <ul id="submenu" class="toggle-window">
        <li><a href="{% url "over" %}">{% trans "Over Karpe Noktem" %}</a></li>
        <li><a href="{% url "geschiedenis" %}">{% trans "Oprichting" %}</a></li>
        <li><a href="{% url "activiteiten" %}">{% trans "Activiteiten" %}</a></li>
        <li><a href="{% url "bestuur" %}">{% trans "Bestuur" %}</a></li>
        <li><a href="{% url "aktanokturna" %}">{% trans "Akta Nokturna" %}</a></li>
    </ul>
</div>
{% endblock %}
