{% extends "static/overbase.html" %}
{% load i18n %}

{% block body %}
<img src="{{ MEDIA_URL }}static/img/dansend.jpg" class="right" />
<p>{% blocktrans %}Karpe Noktem is een dynamisch alternatief voor
iedereen die zich niet tot traditionele studentenverenigingen aangetrokken
voelt. Wij brengen HBO- en WO-studenten op een ongedwongen manier
samen. De meeste  verenigingen eisen van nieuwe leden een ontgroening
en jarenlange aanwezigheidsplicht. Bij Karpe Noktem is er geen
introductieperiode of ontgroening. Karpe Noktem wil vooral iedereen
wat bieden: concerten voor de muziekfreaks, Spelletjesdagen voor bordspelfanaten,
ledenblad Akta Nokturna voor literair talent, LAN-parties voor gamers 
en een wekelijkse borrel voor de stamgasten.{% endblocktrans %}</p>

<p>{% blocktrans %}Bij Karpe Noktem maken de leden de vereniging.
We bieden vrijwel constant activiteiten aan die door actieve leden
zijn georganiseerd. Daardoor blijft iedereen bij elkaar betrokken
en is er voor ieder wat wils. Zo leer je snel je Nijmegen en andere
studenten kennen.{% endblocktrans %}</p>

<p>{% blocktrans %}Dus: wil jij nog iets gezelligs doen naast je
studie? Wil je niet alleen bij je studie blijven hangen? En wil je
nog iets ondernemen en zien van de wereld?  Ongedwongen, actief,
dynamisch, veelzijdig. Karpe Noktem... anders ook!{% endblocktrans %}</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
