{% extends "static/base.html" %}

{% block body %}
<p>Meestal zitten we in de Villa van Schaeck. Op maandagen in de kelder, en op
vrijdagen de borrelruimte. De Villa ligt rechts aan de directe weg van het
Keizer Karelplein naar het Centraal Station.</p>
<p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2028.4753171891198!2d5.856362326385692!3d51.84301234057159!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7085d6777deb3%3A0xd92be1dcbede14e4!2sVilla+van+Schaeck!5e1!3m2!1sen!2s!4v1405170518027" width="850" height="450" frameborder="0" style="border:0"></iframe>
</p>
<address>Villa van Schaeck<br/>
Van Schaeck Mathonsingel 10<br/>
Nijmegen</address>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
