{% extends "static/base.html" %}

{% block body %}
<p>Meestal zitten we in de Villa van Schaeck. Op maandagen in de kelder, en op
vrijdagen de borrelruimte. De Villa ligt rechts aan de directe weg van het
Keizer Karelplein naar het Centraal Station.</p>
<address>Villa van Schaeck<br/>
Van Schaeck Mathonsingel 10<br/>
Nijmegen</address>
<p>
<iframe width="425" height="350" frameborder="0" scrolling="no" 
        marginheight="0" marginwidth="0" 
      src="http://maps.google.com/?ie=UTF8&amp;t=h&amp;s=AARTsJqzARj-Z8VnW5pkPMLMmZbqrJcYpw&amp;ll=51.842718,5.85641&amp;spn=0.00232,0.00456&amp;z=17&amp;output=embed"></iframe><br />
      <small><a href="http://maps.google.com/?ie=UTF8&amp;t=h&amp;ll=51.842718,5.85641&amp;spn=0.00232,0.00456&amp;z=17&amp;source=embed" style="text-align:left">Grotere kaart</a></small>
</p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
