{% extends "static/overbase.html" %}

{% load base %}
{% load i18n %}

{% block body %}

<p>De <a href="/smoelen/groep/vertrouwenscommissie/">vertrouwenscontactpersoon</a> is binnen Karpe Noktem het eerste contactpersoon als je vragen hebt over of te maken gehad hebt met situaties waarbij je je niet prettig voelt, zoals grensoverschrijdend gedrag, pesten of ander ongewenst gedrag. In zulke gevallen kun je terecht bij de VCP. </p>

<p>Een VCP biedt een luisterend oor, en probeert jou zo goed mogelijk te begrijpen. Als jij daar behoefte aan hebt kun je samen verder kijken naar mogelijke vervolgstappen, de VCP kan daar advies in geven. Ten slotte kan de VCP ook doorverwijzen naar andere instanties, zoals bijvoorbeeld een externe vertrouwenspersoon of hulpverlener. </p>

<p>De vertrouwenscommissie is onafhankelijk van het bestuur. Gesprekken zijn altijd vertrouwelijk, tenzij er noodzaak is om anderen te betrekken (bijvoorbeeld bij overtreden van een wet). </p>

<p>Je kunt dus terecht bij de vertrouwenscommissie als je zelf iets hebt meegemaakt, maar ook als je je zorgen maakt om iemand anders. Als je nog vragen hebt, kun je het altijd een keer vragen aan een van de vertrouwenspersonen!</p>

<p>In het <a href="/smoelen/groep/vertrouwenscommissie/">smoelenboek</a> kun je terugvinden wie de huidige vertrouwenspersonen zijn. Ook kun je e-mailen naar {% filter email %}vertrouwenscommissie@karpenoktem.nl{% endfilter %}</p>

{% endblock body %}
{# vim: set sw=2 ts=2 et: #}
