{% extends "static/overbase.html" %}

{% load i18n %}

{% block body %}
<p>{% blocktrans %}Behalve Karpe Noktem zijn er nog heel veel andere
alternatieve studentenverenigingen, in heel Nederland!  Deze vormen
samen het zusterverband <a href="http://zeusverbond.nl">ZEUS</a>
(dit staat voor Zusterlijke Eenheid Uit Saamhorigheid), dat bestaat
uit zes verenigingen naast Karpe Noktem; namelijk:{% endblocktrans %}
</p>
<ul>
<li><a href="http://www.biton.nl/">B.I.T.O.N.</a> {% trans "uit" %} Utrecht,</li>
<li><a href="http://www.debolk.nl/">de Bolk</a> {% trans "uit" %} Delft,</li>
<li><a href="http://www.vslcatena.nl/">Catena</a> {% trans "uit" %} Leiden,</li>
<li><a href="http://www.cleopatra-groningen.nl/">Cleopatra</a>
  {% trans "uit" %} Groningen,</li>
<li><a href="http://www.svliber.nl/">Liber</a> {% trans "uit" %} Amsterdam, </li>
<li><a href="http://www.wolweze.nl/">Wolw&ecirc;ze</a> {% trans "uit" %} Leeuwarden.</li>
    </ul>
    <p>{% blocktrans %}Samen met deze verenigingen organiseren wij
    feesten, weekenden en hebben wij andere
    samenwerkingsverbanden.{% endblocktrans %}
      <a href="{% url "agenda-zeus" %}"
         >{% trans "Bekijk ook onze gezamelijke agenda!" %}</a></p>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
