{% extends "leden/base.html" %}

{% load base %}
{% load i18n %}

{% block body %}
<script type="text/javascript">
$(function(){
    $('#loginform').submit(function(){
        var username = $('#id_username');
        if (username.val() != username.val().toLowerCase()) {
            var orig = username.val();
            username.effect('shake', {}, 200, function() {
                username.effect('highlight', {color: 'red'}, 1000);
                username.val(orig.toLowerCase());
            });
            return false;
        }
        return true;
    });
});
</script>
{% if form.errors %}
<div class="error">
    {% blocktrans %}Je gebruikersnaam en wachtwoord zijn fout.
    Probeer eens opnieuw.{% endblocktrans %}
</div>
{% endif %}

<p>{% blocktrans with webcie="webcie@karpenoktem.nl"|email %}Voor
deze pagina moet je inloggen met je Karpe Noktem gebruikersnaam en
wachtwoord.  Weet je die niet meer?  E-Mail even naar
{{ webcie }}.{% endblocktrans %}</p>

<form method="post" action="." id="loginform">
	<table>
		<tr><td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td></tr>
		<tr><td>{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td></tr>
		{% csrf_token %}
	</table>

	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}

