{% extends "leden/base.html" %}

{% load base %}
{% block body %}
{% if form.errors %}
<div class="error">
	Je gebruikersnaam en wachtwoord zijn fout.  Probeer eens opnieuw.
</div>
{% endif %}

<p>Voor deze pagina moet je inloggen met je Karpe Noktem gebruikersnaam
en wachtwoord.  Weet je die niet meer?  E-Mail even naar
{% filter email %}webcie@karpenoktem.nl{% endfilter %}.
</p>

<form method="post" action=".">
	<table>
		<tr><td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td></tr>
		<tr><td>{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td></tr>
		{% csrf_token %}
	</table>

	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}

