[Unit]
Description=Giedo figures out what to change
Requires=daan.service cilia-tunnel.service moniek-tunnel.service

[Service]
ExecStart=/home/infra/bin/giedo
EnvironmentFile=-/etc/default/giedo
User=infra

[Install]
WantedBy=multi-user.target

