[Unit]
Description=Giedo figures out what to change
Requires=infra-dir.service mongodb.service daan.service cilia-tunnel.service moniek-tunnel.service hans.service
After=infra-dir.service mongodb.service daan.service cilia-tunnel.service moniek-tunnel.service hans.service

[Service]
ExecStart=/home/infra/bin/giedo
EnvironmentFile=-/etc/default/giedo
User=infra
Type=notify

[Install]
WantedBy=multi-user.target
