
table.balans {
	border-collapse: collapse;
	width: 100%;
}

table.balans th {
	text-align: left;
}

table.balans th,
table.balans td {
	vertical-align: top;
	padding: 0px 4px;
}

@media screen and (min-width: 500px) {
	table.balans th {
		white-space: nowrap;
	}
}

table.balans tbody {
	cursor: pointer;
}
table.balans tbody:hover {
	background: rgba(0, 0, 0, 0.05);
}

table.balans tr:first-child td {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
table.balans tr:not(:first-child) td {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}
table.balans tr:not(:first-child) {
	color: rgba(0, 0, 0, 0.6);
}
table.balans :not(.expand) tr:not(:first-child) {
	display: none;
}
table.balans .expand .sum {
	display: none;
}

table.balans .date {
	white-space: nowrap;
}
table.balans .value,
table.balans .th-value {
	text-align: right;
}

span.check-error {
	color: red;
}

span.check-warning {
	color: orange;
}
