.smoel,
.nosmoel{
	float: right;
}

.nosmoel {
	margin-top: 50px;
	width: 200px;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.smoel {
		float: none;
		margin: 10px 0;
	}

	.nosmoel {
		float: right;
		margin-top: 20px;
		width: auto; /* initial */
	}
}

.change-humanName,
.change-description {
	float: right;
}
