#random-text,
#slider-wrapper {
	max-width: 475px;
	float: left;
}
#agenda {
	margin-left: 525px;
}
@media screen and (max-width: 850px) {
	#random-text,
	#slider-wrapper {
		float: none; /* initial */
	}
	#random-text {
		max-width: none; /* initial */
	}
	#agenda {
		margin-left: 0; /* initial */
		margin-bottom: 26px;
	}

	/* reverse the order of agenda and slider
	 * Only some browsers support this, but the rest will simply ignore it. */
	#body {
		display: flex;
		flex-direction: column;
	}
	#slider-wrapper {
		order: 1;
	}
}

#agenda li.monthSeparator {
	font-size: 1.0em;
}

#agenda li.item {
	padding: 0.5em;
}

#agenda li.item .item_content {
	margin-left: 52px;
}

#agenda li.item .item_content .preview {
	display: none;
}

#agenda .datelong {
	display: none;
}

#agenda li.item .date {
	float: left;
	width: 25px;
	height: 32px;
	margin: 0;
	padding: 3px 6px;
	line-height: 15px;
	font-size: 0.8em;
}

/* photoslider properties */
.nivoSlider {
	z-index: 0;
}
.nivoSlider img {
	border-radius: 4px;
	/* reset properties used for normal images */
	padding: 0 !important;
	border: 0 !important;
	background-color: transparent !important;
	margin: 0 !important;
}
/* This prevents strange resizes in Internet Explorer
 * See http://stackoverflow.com/a/15073788 */
.nivo-main-image {
	height: auto;
}
