#introAgenda dt {
	font-weight: bold;
	border-bottom: 1px solid gray;
	color: white;
}

#introAgenda dd {
	margin-left: 0;
	margin-bottom: 2em;
}

#introAgenda .date {
       font-style: italic;
       float: right;
}

#introAgenda .footer {
	margin-top: .5em;
	display: block;
}
