#content img.boilerplate {
	border: 0;
        padding: 0;
        margin: 0;
}

.wrappingtext {
	font-size: small;
	text-align: center;
}

.wrappingtext,
.wrappingtext a {
	color: gray;
}

.wrappingtext a:hover {
	color: white;
}
