.boilerplate {
	border: none;	
	margin-left: -80px;
}

.wrappingtext {
	font-size: small;
	text-align: center;
}

.wrappingtext,
.wrappingtext a {
	color: gray;
}

.wrappingtext a:hover {
	color: white;
}
