{% extends "agenda/base.html" %}

{% block body %}
<div>
  <a href="http://www.google.com/calendar/embed?src=vssp95jliss0lpr768ec9spbd8%40group.calendar.google.com&amp;ctz=Europe/Paris" target="_blank"
    >Ook op Google Calendar</a>.
  Ben je geen lid, maar wil je wel op de hoogte blijven van onze activiteiten?
  Zet jezelf op de geïnteresseerden-e-maillijst
  <form method="post"
    action="https://karpenoktem.nl/mailman/subscribe/geinteresseerden"
    style="display: inline;">
      <input name="email" type="text" placeholder="jouw@email.com" />
      <input type="submit" value="voeg toe" />
  </form>
  <p>We hebben ook een <a href="{% url agenda-zeus %}">gezamelijke agenda</a> met onze <a href="{% url zusjes %}">zusjes</a>!</p>
</div>

{% include "agenda/widget.html" %}

{% endblock %}
{# vim: set sw=2 ts=2 et: #}
