{% extends "agenda/base.html" %}

{% load i18n %}

{% block body %}
<div>
  <a href="https://www.google.com/calendar/embed?src=vssp95jliss0lpr768ec9spbd8%40group.calendar.google.com&amp;ctz=Europe/Amsterdam" target="_blank"
    >{% trans "Ook op Google Calendar" %}</a>.
  {% blocktrans %}Ben je geen lid, maar wil je wel op de hoogte
  blijven van onze activiteiten?  Join onze
  <a href="https://chat.whatsapp.com/CtDhzV493qHEz9L6le6crR">geïnteresseerden-whatsappgroep</a>{% endblocktrans %}!
  {% url "agenda-zeus" as url_agenda_zeus %}
  {% url "zusjes" as url_zusjes %}
  <p>{% blocktrans %}We hebben ook een <a href="{{ url_agenda_zeus }}">gezamelijke
    agenda</a> met onze <a href="{{ url_zusjes }}">zusjes</a>!{% endblocktrans %}</p>
</div>

{% include "agenda/widget.html" %}

{% endblock %}
{# vim: set sw=2 ts=2 et: #}
