<h1><a href="{% url agenda %}">agenda</a></h1>
<ul id="fullagenda">

{% for item in short_agenda %}
  {% ifchanged %}
  <li class="monthSeparator">{{ item.month }}</li>
  {% endifchanged %}
  <li class="item"
    onclick="$(this).find('.description').toggleClass('preview');">
    <div class="item_wrapper">
      <div class="date">
        {{ item.shortdate }}
      </div>
      <div class="item_content">
        <div class="titlebar">
          <span class="title">{{ item.title }}</span>
      {% if item.end.date != item.start.date %}
        <span class="datelong">{{ item.start.date }}\
              &mdash;{{ item.end.date }}</span>
      {% endif %}
        </div>
        <div class="description preview">
          {{ item.description|safe|linebreaksbr }}
        </div>
      </div>
    </div>
  </li>
{% endfor %}

</ul>
{% if has_more %}
<div class="more">
  <a href="{% url agenda %}">Meer...</a>
</div>
{% endif %}
{# vim: set sw=2 ts=2 et: #}
