<ul id="agenda"{% if type %} class="small"{% endif %}>
{% for item in agenda %}
  {% ifchanged %}
  <li class="monthSeparator">{{ item.month }}</li>
  {% endifchanged %}
  <li class="item closed"
    onclick="$(this).toggleClass('closed');">
    <div class="dateholder">
      <div class="date">
        {{ item.shortdate }}
      </div>
    </div>
    <div class="arrow"></div>
    <div class="item_content">
      <div class="titlebar">
        <span class="title">{{ item.title }}</span>
    {% if item.end.date != item.start.date %}
      <span class="datelong">{{ item.start.date }}\
            &mdash;{{ item.end.date }}</span>
    {% endif %}
      </div>
      <div class="description">
        {{ item.description|safe|linebreaksbr }}
      </div>
    </div>
  </li>
{% endfor %}
</ul>
