<ul id="agenda"{% if type %} class="small"{% endif %}>
{% for item in agenda %}
  <li class="item closed"
    onclick="$(this).toggleClass('closed');">
    <div class="header">
      <div class="date">
        <span class="day">{{ item.start.date.day }}</span>
        <span class="month">{{ item.start.date|date:"D b" }}</span>
      </div>
      <div class="titlebar">
        <span class="title">{{ item.title }}</span>
      </div>
    </div>
    <div class="item-content">
      {% if item.location %}
      <div class="row">
        Locatie:
        <a href="https://google.com/maps?q={{ item.location }}">{{ item.location }}</a>.
      </div>
      {% endif %}
      <div class="row">
        Tijd:
        {% if item.end.date != item.start.date %}
        <span class="datelong">{{ item.start.date }}&mdash;{{ item.end.date }}</span>
        {% else %}
        <span class="datelong">{{ item.start.date }}&mdash;{{ item.end.date }}</span>
        {% endif %}
      </div>
      {% if item.description %}
      <div class="description">
        {{ item.description|safe|linebreaksbr }}
      </div>
      {% endif %}
    </div>
  </li>
{% endfor %}
</ul>
