{% extends "agenda/base.html" %}

{% block body %}

<div>
	Dit is de ZEUS-agenda, de agenda met alle grote activiteiten van onze <a href="{% url zusjes %}">zusterverenigingen</a> door heel het land.
	<a href="https://www.google.com/calendar/embed?src=a9jl7tuhqg7oe8stapcu9uhvk8%40group.calendar.google.com&amp;ctz=Europe/Amsterdam" target="_blank"
	>Ook op Google Calendar</a>.<br/>
<a href="{% url agenda %}">Terug naar onze eigen agenda</a>.
</div>

{% include "agenda/widget.html" %}

{% endblock %}
