
#agenda {
	list-style-type: none;
	padding: 0;
}
#agenda .item {
	padding-bottom: 16px;
}
#agenda .header {
	display: flex;
	background: white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}
#agenda .day {
	font-size: 1.2rem;
	font-weight: bold;
}
#agenda .date {
	min-width: 60px;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-variant: small-caps;
}
#agenda .titlebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#agenda .title {
	font-weight: bold;
	font-size: 1.25rem;
}
#agenda .item-content {
	background: white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0 0 2px 2px;
	padding: 16px;
}
#agenda .row {
	padding: 8px 0;
}
#agenda .description {
	border-top: 1px solid black;
}
