@charset "utf-8";

#breadcrumbs {
    float: left;
}

#breadcrumbs > a,
#breadcrumbs > span {
    margin: 0 5px;
}

#topbar {
    float: right;
    position: relative;
}

img#album-edit-toggle {
    margin: 0;
    box-shadow: none;
    max-width: none;
    vertical-align: middle;
    background: none;
    opacity: 0.5;
    padding: 4px;
    z-index: 2;
    border: 1px transparent solid;
    border-bottom: 1px white solid;
    position: relative;
    bottom: -1px;
}
#album-edit-toggle:hover,
#topbar.toggle-open #album-edit-toggle {
    opacity: 1;
}
#topbar.toggle-open #album-edit-toggle {
    background: white;
    border-color: #aaa;
    border-bottom: 1px white solid;
}

#album-editor {
    z-index: 1;
    background: white;
    white-space: nowrap;
    padding: 2px 5px;
    border: 1px #aaa solid;
}
#topbar.toggle-open #album-editor {
    right: -5px;
}

#album-editor label {
    display: flex;
    justify-content: space-between;
}

p.error {
    clear: both;
    margin: 1em 5px;
}

ul#fotos {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
}

ul#fotos li {
    margin: 1px;
    display: inline-block;
    padding: 5px 4px;
    width: 200px;
    max-width: calc(100% / 3 - 10px);
    font-family: sans-serif;
    font-size: smaller;
    vertical-align: top;
    text-align: center;
    line-height: 1;
}
@media (max-width: 660px) {
    ul#fotos li {
        padding: 0.75vw calc(0.5vw + 0.7px) 0.75vw;
    }
}
ul#fotos li.visibility-hidden {
    background-color: rgba(0, 0, 0, 0.04);
}
html.fotos-highlight ul#fotos li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
html.fotos-highlight ul#fotos li.visibility-hidden {
    background-color: #fcc;
    border-color: #f88;
}
html.fotos-highlight ul#fotos li.visibility-leden {
    background-color: #fea;
    border-color: #ed0;
}
html.fotos-highlight ul#fotos li.visibility-world {
    background-color: #cfc;
    border-color: #8f8;
}

ul#fotos li a {
    /* http://www.smashingmagazine.com/2013/09/16/responsive-images-performance-problem-case-study/ */
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
ul#fotos li img {
    display: block;
    max-width: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f2f2f2;
}

img.lazy {
    visibility: hidden;
}

.template {
    display: none;
}

#foto {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 1;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    background-color: black; /* IE8 */
    background-color: rgba(0,0,0,0.95);
}
#foto > .foto-frame {
    width: 100%;
    height: 100%;
    text-align: center; /* fallback for flexbox */
    display: flex;
}

#foto img {
    margin: 0;
    border: 0;
    padding: 0;
    max-width: none;
    background-color: transparent;
    box-shadow: none;
}

#foto  a:link,
#foto  a:visited {
    color: #aaa;
}
#foto  a:hover {
    color: #fff;
}

#foto a.nav {
    position: absolute;
    outline: none; /* FF */
    background: none; /* FF mobile */
    opacity: 0;
    transition: opacity 0.5s;
}
#foto.show-nav a.nav,
#foto.sidebar a.nav {
    opacity: 1;
    transition: opacity 0.1s
}
#foto .prev:not([href]),
#foto .next:not([href]) {
    display: none;
}
#foto .nav img {
    opacity: 0.7;
    transition: opacity 0.2s ease;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
}
#foto .nav:hover img {
    opacity: 0.9;
}
#foto .prev,
#foto .next {
    top: 20%;
    height: 60%;
    width: 30%;
}
#foto .prev img,
#foto .next img {
    position: absolute;
    top: 45%; /* IE8 */
    top: calc(50% - 16px);
    padding: 7px 0;
}
#foto .prev {
    left: 0;
    text-align: left;
}
#foto .prev img {
    left: 0;
    border-radius: 0 2px 2px 0;
}
#foto .next {
    right: 0;
    text-align: right;
}
#foto .next img {
    right: 0;
    border-radius: 2px 0 0 2px;
}
#foto .close {
    padding: 4px;
    top: 0;
    right: 0;
}
#foto .close img {
    padding: 4px;
    border-radius: 2px;
}
#foto .open-sidebar {
    padding: 4px;
}
#foto .open-sidebar img {
    padding: 4px;
}


#foto .image-wrapper {
    flex-grow: 1;
    position: relative;
    height: 100%; /* fallback */
    width: calc(100% - 220px); /* fallback */
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foto .img {
    background-color: black;
}

#foto .sidebar {
    float: right; /* fallback */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 220px;
    height: 100%;
    padding: 8px;
    line-height: 1.3;
    text-align: left;
}
#foto:not(.sidebar) .sidebar {
    display: none;
}
#foto.sidebar a.open-sidebar img {
    opacity: 1;
}

/* Keep up to date with fotos.js! (onresize) */
/* Mobile view */
@media (max-width: 700px) {
    #foto .image-wrapper {
        width: 100%; /* fallback */
    }
    #foto .sidebar {
        position: absolute;
        top: 44px;
        left: 0;
        height: auto;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 0 4px 4px 0;
    }
    #foto a.open-sidebar {
        left: 0;
        top: 0;
    }
    #foto a.open-sidebar img {
        border-radius: 2px;
    }
    #foto.sidebar a.open-sidebar img {
        background: rgba(0, 0, 0, 0.8);
        border-radius: 2px 2px 0 0;
    }
}
/* Desktop view */
@media (min-width: 701px) {
    #foto .sidebar {
        padding-top: 72px;
    }
    #foto .close {
        right: 0;
        top: 0;
    }
    #foto .open-sidebar {
        right: 0;
        padding-top: 4px;
        top: 36px;
    }
    #foto .close img,
    #foto .open-sidebar img {
        width: 24px;
        height: 24px;
    }
}

#foto .title {
    font-size: 1.07em;
    color: inherit;
    font-weight: normal;
}

#foto input,
#foto textarea {
    display: block;
    margin: 0 0 5px;
    resize: vertical;
}
#foto .sidebar .row {
    display: block;
    margin: 0 0 5px 0;
}
#foto input,
#foto textarea {
    background: transparent;
    color: inherit;
    font: inherit;
    border: none;
    width: 100%;
}
#foto input {
    box-sizing: border-box;
    border-bottom: 1px solid #aaa;
}
#foto textarea {
    height: 3.9em;
}
#foto .rotation a {
    display: inline-block;
    line-height: 1;
}
#foto ul.tags {
    margin-top: 0.5em;
}
#foto ul.tags a {
    color: inherit;
}
#foto ul.tags .remove {
    float: right;
    cursor: pointer;
    font-size: 1rem;
    clear: both;
    line-height: 1;
}
#foto ul.tags .remove:hover {
    color: white;
}
#foto .save-wrapper {
    text-align: right;
}

#foto .footer {
    margin: 10px;
    text-align: right;
}

#foto ul.tags {
    list-style-type: none;
    padding-left: 1.2em;
}
#foto ul.tags li {
    position: relative;
}
#foto ul.tags li:before {
    content: '•';
    position: absolute;
    left: -0.8em;
}

#foto .sidebar .hidden-submit {
    /* http://stackoverflow.com/a/6602788/559350 */
    width: 0;
    height: 0;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}

#foto .status {
    color: #aaa;
}

@media (max-height: 800px) {
    #foto {
        padding: 0;
    }
}

.noscroll {
    overflow: hidden;
}

.isroot #album-editor .album-options {
    display: none;
}

/* vim: set et bs=2 sw=4 sta: */
