{% extends "leden/base.html" %}

{% load i18n %}

{% block styles %}
{{ block.super }}
<link href="{{ MEDIA_URL }}leden/balans.css" rel="stylesheet" />
{% endblock styles %}

{% block head %}
{{ block.super }}
<script src="{{ MEDIA_URL }}leden/balans.js" defer></script>
{% endblock head %}

{% block body %}
<h1>{% trans "Balans" %}</h1>
{% if balans.in_books %}
<p>

{% if balans.total < 0 %}
{% if account == user %}
{% blocktrans with bedrag=balans.abstotal %}
Volgens de boekhouding krijg je
nog <strong>€&nbsp;{{ bedrag }}</strong> van ons.
{% endblocktrans %}
{% else %}
{% blocktrans with bedrag=balans.abstotal naam=account.humanName lidwoord=account.humanName.definite_article.title %}
{{ lidwoord }} {{ naam }} heeft ons
dit jaar al <strong>€&nbsp;{{ bedrag }}</strong>
opgebracht.
{% endblocktrans %}
{% endif %}
{% elif balans.total == 0 %}
{% if account == user %}
{% blocktrans %}
Volgens de boekhouding zijn we elkaar op het moment
niets verschuldigd (in financiële zin).
{% endblocktrans %}
{% else %}
{% blocktrans with naam=account.humanName lidwoord=account.humanName.definite_article %}
We hebben dit jaar in totaal nog niets uitgegeven
voor
{{ lidwoord }} {{ naam }}.
{% endblocktrans %}
{% endif %}
{% elif balans.total > 0 %}
{% if account == user %}
{% blocktrans with bedrag=balans.abstotal %} 
Volgens de boekhouding ben je 
ons nog  <strong>€&nbsp;{{ bedrag }}</strong> verschuldigd.
{% endblocktrans %}
{% else %}
{% blocktrans with bedrag=balans.abstotal naam=account.humanName lidwoord=account.humanName.definite_article %}
We hebben dit jaar al <strong>€&nbsp;{{ bedrag }}</strong>
uitgegeven voor
{{ lidwoord }} {{ naam }}.
{% endblocktrans %}
{% endif %}
{% endif %}

</p>

<div class="balans-wrapper">
    <table class="balans">
        <thead>
            <tr>
                <th>{% trans "nummer" %}</th>
                <th>{% trans "datum" %}</th>
                <th>{% trans "omschrijving / post" %}</th>
                <th class="th-value">{% trans "bedrag (€)" %}</th>
                <th class="th-value">{% trans "som (€)" %}</th>
            </tr>
        </thead>
        {% for tr in balans.transactions %}
        <tbody>
            <tr>
                <td>{{ tr.data.num }}</td>
                <td class="date">{{ tr.data.date.text }}</td>
                <td>{{ tr.data.description }}</td>
                <td class="value"><span class="sum">{{ tr.value }}</span></td>
                <td class="value"><span class="sum">{{ tr.sum }}</span></td>
            </tr>
            {% for mut in tr.mutations %}
            <tr>
                <td></td>
                <td class="date"></td>
                <td>{{ mut.data.account }} {% if mut.data.memo %}({{ mut.data.memo }}){% endif %}</td>
                <td class="value">{{ mut.value }}</td>
                {% if mut.data.counts %}
                <td class="value">{{ mut.sum }}</td>
                {% else %}
                <td class="value"></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
</div>

{% else %} 
<p>
{% if user == account %}
{% blocktrans %}
Je hebt op het moment nog geen debiteuren- en crediteurenrekening
in onze boekhouding.
{% endblocktrans %}
{% else %}
{% blocktrans with name=account.humanName da=account.humanName.definite_article.title %}
{{ da }} {{ name }} heeft nog geen inkomsten- en uitgavenrekening in onze boekhouding.
{% endblocktrans %}
{% endif %}
</p>
{% endif %}
{% if user == account %}
<p>
{% blocktrans with rekeningnummer=balans.our_account_number rekeninghouder=balans.our_account_holder %}
Betalingen kunnen gericht worden aan {{ rekeningnummer }}
ten name van {{ rekeninghouder }}.
{% endblocktrans %}
</p>
{% endif %}
<p>
{% blocktrans with name=quaestor.name email=quaestor.email %}
Heb je vragen?  Neem dan contact
op met {{ name }} via <a href="mailto:{{email}}">{{ email }}</a>!
{% endblocktrans %}
</p>
<p>
{% blocktrans with datum=balans.mtime %}
(Het bovenstaande overzicht is gebaseerd op de
boekhouding van {{ datum }}. Betalingen, declaraties en andere gebeurtenissen
van een latere datum zullen hier binnenkort verschijnen.)
{% endblocktrans %}
</p>
{% if accounts|length > 1 %}
<form action="" method="get">
<p>
{% blocktrans %}
Bekijk ook de balans van
{% endblocktrans %}
<select name="account" onchange="this.form.submit()">
{% for account,current in accounts %}
<option value="{{ account.name }}" {% if current %}selected{% endif %}>
{{ account.humanName.definite_article }} {{ account.humanName }}</option>
{% endfor %}
</select>.
</p>
</form>
{% endif %}
{% endblock %}
