{% extends "base/base.html" %}

{% load i18n %}
{% load base %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css"
    deferred-href="{{ MEDIA_URL }}base/jquery-ui-1.8.22/the.css"/>
{% endblock styles %}

{% block head %}
{{ block.super }}
<script type="text/javascript"
        src="{{ MEDIA_URL }}base/jquery-ui-1.8.22/the.js" defer></script>
{% endblock head %}

{% block submenu %}
<div id="submenu-wrapper" class="toggle">
    <a id="submenu-button" class="toggle-button" href="">&nbsp;</a>
    <ul id="submenu" class="has-dropdown toggle-window">
        <li><a href="{% url "smoelen-home" %}">{% trans "Smoelenboek" %}</a>
          <ul>
              <li><a href="{% url "entity-by-name" name="leden" %}"
                  >{% trans "Leden" %}</a></li>
              <li><a href="{% url "entity-by-name" name="comms" %}"
                  >{% trans "Commissies" %}</a></li>
              <li><a href="{% url "entity-by-name" name="groepen" %}"
                  >{% trans "Groepen" %}</a></li>
              <li><a href="{% url "entity-by-name" name="disputen" %}"
                  >{% trans "Disputen" %}</a></li>
              <li><a href="{% url "entity-by-name" name="lists" %}"
                  >{% trans "E-maillijsten" %}</a></li>
              <li><a href="{% url "stats" %}"
                  >{% trans "Statistieken" %}</a></li>
              </ul>
          </li>
        <li><a href="{% url "event-list" %}">{% trans "Activiteiten" %}</a>
            <ul>
                <li><a href="{% url "event-new"  %}">{% trans "Aanmaken" %}</a></li>
            </ul>
        </li>

        {% if "secretariaat" in user.cached_groups_names %}
        <li><span>{% trans "Secretariaat" %}</span>
            <ul>
                <li><a href="{% url "secr-add-user"  %}">{% trans "Lid inschrijven" %}</a></li>
                <li><a href="{% url "secr-add-group"  %}">{% trans "Groep aanmaken" %}</a></li>
                <li><a href="{% url "secr-update-site-agenda"  %}">{% trans "Agenda updaten" %}</a></li>
                <li><a href="{% url "secr-notes"  %}">{% trans "Openstaande notities" %}</a></li>
            </ul>
        </li>
        {% endif %}
        {% if "fotocie" in user.cached_groups_names or "webcie" in user.cached_groups_names %}
        <li><a href="{% url "fotos" "" %}">{% trans "Foto's" %}</a>
            <ul>
                <li><a href="{% url "fotoadmin-move" %}">{% trans "Foto's verplaatsen" %}</a></li>
            </ul>
        </li>
        {% endif %}

        <li><a href="{% url "planning-home"  %}">{% trans "Planning" %}</a>
            {% if may_manage_planning %}
            <ul>
                <li><a href="{% url "planning-poollist" %}">{% trans "Beheer" %}</a></li>
                <li><a href="{% url "planning-event-create" %}">{% trans "Nieuw" %}</a></li>
            </ul>
            {% endif %}
        </li>

        <li><a href="{% external_url "wiki-home" %}">{% trans "Wiki" %}</a></li>
        <li><a href="{% external_url "forum" %}">{% trans "Forum" %}</a></li>
        <li><a href="{% external_url "stukken" %}">{% trans "Stukken" %}</a></li>
    </ul>

    <input type="hidden" id="searchfield" />
    <script type="text/javascript">
        $(function(){
            {# TODO we need a page for when the user did not select #}
            {#      something from the dropdown #}
            create_entityChoiceField('searchfield', {
                placeholder: '{% trans "Zoeken ..." %}',
                input_type: 'search',
                position: { my : "right top", at: "right bottom" },
                select: function(label, entid) {
                    {# TODO We should write a JS reverse() #}
                    location.href = '/smoelen/id/'+ entid;
                }});
        });
    </script>
</div>
{% endblock submenu %}

{% block messages %}
{% if request.session.waitingOnGiedoSync %}
<div class="notice" id="waitingOnGiedoSyncNotice">
    {% trans "Wijzingen worden doorgevoerd ..." %}
</div>
<script type="text/javascript">
        setTimeout(function(){checkGiedoSync(
                        {{ request.session.waitingOnGiedoSync }})}, 1000);
</script>
{% endif %}{# request.session.waiting_on_giedo_sync #}
{{ block.super }}
{% endblock messages %}
