{% extends "base/base.html" %}

{% block menu %}
{{ block.super }}
<li><a href="{% url smoelen-home %}"
	>Smoelenboek</a></li>
<ul>
<li><a href="{% url entity-by-name name="leden" %}"
	>Leden</a></li>
<li><a href="{% url entity-by-name name="groepen" %}"
	>Groepen</a></li>
<li><a href="{% url entity-by-name name="comms" %}"
	>Commissies</a></li>
</ul>
<li><a href="{% url event-list %}">Activiteiten</a></li>
{% if "secretariaat" in user.cached_groups_names %}
<li>Secretariaat</li>
<ul>
        <li><a href="{% url secr-add-user  %}">Lid inschrijven</a></li>
</ul>
{% endif %}
{% endblock %}
