{% extends "leden/base.html" %}

{% load i18n %}

{% block body %}

<h1>{% trans "Presentielijst" %}</h1>

<h2>{% trans "Leden" %}</h2>
{% if results.gnucash.user %}
<p>
{% blocktrans %}
&#10007;&nbsp;De volgende leden staan in de ledenadministratie, maar niet in de boekhouding:
{% endblocktrans %}
</p>
<ul>
{% for name in results.gnucash.user %}
<li>{{ name }}</li>
{% endfor %}
</ul>
{% else %}
<p>
{% blocktrans %}
&#10003;&nbsp;Alle leden staan in de boekhouding.
{% endblocktrans %}
</p>
{% endif %}
{% if results.website.user %}
<p>
{% blocktrans %}
&#10007;&nbsp;De volgende leden worden genoemd in de boekhouding, maar staan niet in de ledenadministratie:
{% endblocktrans %}
</p>
<ul>
{% for name in results.website.user %}
<li>{{ name }}</li>
{% endfor %}
</ul>
{% else %}
<p>
{% blocktrans %}
&#10003;&nbsp;Alle leden die in boekhouding genoemd worden staan in de ledenadministratie.
{% endblocktrans %}
</p>
{% endif %}
<h2>{% trans "Commissies" %}</h2>
{% if results.gnucash.group %}
<p>
{% blocktrans %}
&#10007;&nbsp;De volgende commissies staan in de ledenadministratie, maar niet in de boekhouding:
{% endblocktrans %}
</p>
<ul>
{% for name in results.gnucash.group %}
<li>{{ name }}</li>
{% endfor %}
</ul>
{% else %}
<p>
{% blocktrans %}
&#10003;&nbsp;Alle commissies staan in de boekhouding.
{% endblocktrans %}
</p>
{% endif %}
{% if results.website.group %}
<p>
{% blocktrans %}
&#10007;&nbsp;De volgende commissies worden genoemd in de boekhouding, maar staan niet in de ledenadministratie:
{% endblocktrans %}
</p>
<ul>
{% for name in results.website.group %}
<li>{{ name }}</li>
{% endfor %}
</ul>
{% else %}
<p>
{% blocktrans %}
&#10003;&nbsp;Alle commissies die in boekhouding genoemd worden staan in de ledenadministratie.
{% endblocktrans %}
</p>
{% endif %}


{% endblock %}
