{% extends "leden/entity.html" %}
{% load base %}

{% block entity_body %}
<ul>
{% for r in rels %}
{% if not r.virtual %}
{% ifchanged r.until_year %}
{% if r.until_year %}
</ul><h4>Tot jaar {{ r.until_year }}</h4><ul>
{% endif %}
{% endifchanged %}
<li>
<a href="{{ r.with.get_absolute_url }}">{{ r.with.humanName }}</a>: 
<a href="{{ r.who.get_absolute_url }}">{{ r.who.humanName }}</a>
{% if r.from or r.until %}
({% if r.from %}
van {{ r.from.date }}
{% endif %}
{% if r.until %}
tot {{ r.until.date }}
{% endif %})
{% endif %}
</li>
{% endif %}{# not r.virtual #}
{% endfor %}{# rels #}
</ul>
{% endblock entity_body %}
