{% extends "leden/base.html" %}


{% block body %}

{% if related %}
<h3>Lidmaatschap</h3>
<ul>
{% for r in related %}
{% ifchanged r.until_year %}
{% if r.until_year %}
</ul><h4>Tot jaar {{ r.until_year }}</h4><ul>
{% endif %}
{% endifchanged %}
<li>
{% if r.how %}
<a href="{{ r.how.get_absolute_url }}">{{ r.how.humanName }}</a>
{% else %}
lid
{% endif %}
{{ r.with.genitive_prefix }}
<a href="{{ r.with.get_absolute_url }}">{{ r.with.humanName }}</a>
{% if r.from or r.until %}
({% if r.from %}
van {{ r.from.date }}
{% endif %}
{% if r.until %}
tot {{ r.until.date }}
{% endif %})
{% endif %}
{% if r.may_end %}
<form action="{% url relation-end _id=r.id %}" style="display:inline">
<input type="submit" value="be&euml;indig" />
</form>
{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}

{% if rrelated %}
<h3>Leden</h3>
<ul>
{% for r in rrelated %}
{% ifchanged r.until_year %}
{% if r.until_year %}
</ul><h4>Tot jaar {{ r.until_year }}</h4><ul>
{% endif %}
{% endifchanged %}
<li>
<a href="{{ r.who.get_absolute_url }}">{{ r.who.humanName }}</a>, 
{% if r.how %}
<a href="{{ r.how.get_absolute_url }}">{{ r.how.humanName }}</a>
{% else %}
lid
{% endif %}
{% if r.from or r.until %}
({% if r.from %}
van {{ r.from.date }}
{% endif %}
{% if r.until %}
tot {{ r.until.date }}
{% endif %})
{% endif %}
{% if r.may_end %}
<form action="{% url relation-end _id=r.id %}" style="display:inline">
<input type="submit" value="be&euml;indig" />
</form>
{% endif %}
{% endfor %}
</li>
</ul>
{% endif %}

{% if tags %}
<h3>Stempels</h3>
<ul>
{% for t in tags %}
<li><a href="{{ t.get_absolute_url }}">{{ t.humanName }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
