{% extends "leden/base.html" %}

{% block body %}
<h2>Bouwjaar {{ year }}</h2>
<ul>
{% for user in users %}
<li><a href="{{ user.get_absolute_url }}">{{ user.full_name }}</a></li>
{% endfor %}
</ul>

{% if previous_year %}
<a href="{% url entities-by-year-of-birth year=previous_year %}"
                >&laquo; {{ previous_year }}</a>
{% endif %}
<a href="{% url years-of-birth %}">alle jaren</a>
{% if next_year %}
<a href="{% url entities-by-year-of-birth year=next_year %}"
                >{{ next_year }} &raquo;</a>
{% endif %}

{% endblock %}
