{% extends "leden/base.html" %}
{% load leden %}
{% load base %}

{% block styles %}
{{ block.super }}
<link href="{{ MEDIA_URL }}/leden/entity_detail.css" rel="stylesheet" />
{% endblock styles %}

{% block body %}

<script type="text/javascript">//<!--
$(function(){
        create_entityChoiceField('relation_begin1_with', {type: 'group'});
        create_entityChoiceField('relation_begin1_how', {type: 'brand'});
        create_entityChoiceField('relation_begin2_who', {type: 'user'});
        create_entityChoiceField('relation_begin2_how', {type: 'brand'});
});
// --></script>

{% if related %}
<h3>Lidmaatschap</h3>
<ul>
{% for r in related %}
{% if not r.virtual %}
{% ifchanged r.until_year %}
{% if r.until_year %}
</ul><h4>Tot in jaar {{ r.until_year }}</h4><ul>
{% endif %}
{% endifchanged %}
<li>
{% if r.how %}
<a href="{{ r.how.get_absolute_url }}">{{ r.how.humanName }}</a>
{% else %}
lid
{% endif %}{# r.how #}
{{ r.with.genitive_prefix }}
<a href="{{ r.with.get_absolute_url }}">{{ r.with.humanName }}</a>
{{ r|rel_when }}
{% if r.may_end %}
<form action="{% url relation-end _id=r.id %}" style="display:inline"
        method="post"
        onsubmit="return confirm('Weet je zeker dat je {{ r.who.humanName }} \
        wil uitschrijven als \
        {% if r.how %}{{ r.how.humanName }}{% else %}lid{% endif %} \
        {{ r.with.genitive_prefix }} {{ r.with.humanName }}?');">

{% csrf_token %}
<input type="submit" value="be&euml;indig" />
</form>
{% endif %}{# r.may_end #}
</li>
{% endif %}{# not r.virtual #}
{% endfor %}{# r.related #}
</ul>
{% endif %}
{% if may_add_related %}
{% if related or object.is_user %}
<form action="{% url relation-begin %}" method="post" style="display: inline" \
        onsubmit="return confirm('Weet je zeker dat je {{ object.humanName }} \
        wil inschrijven als \
        '+ (entityChoiceField_get('relation_begin1_how') ?
        entityChoiceField_get('relation_begin1_how') : 'lid') +' \
        van '+ entityChoiceField_get('relation_begin1_with') +'?');">
        {% csrf_token %}
        <input type="hidden" name="who" value="{{ object.id }}" />
        Voeg als
        <input name="how" id="relation_begin1_how" type="hidden" />
        toe aan
        <input name="with" id="relation_begin1_with" type="hidden" />
        <input type="submit" value="verstuur" />
</form>{# relation-begin #}
{% endif %}{# related or object.is_user #}
{% endif %}{# may_add_related #}

{% if rrelated %}
<h3>Leden ({{ year_counts.this }})</h3>
<ul>
{% for r in rrelated %}
{% ifchanged r.until_year %}
{% if r.until_year %}
</ul><h4>Tot jaar {{ r.until_year }} ({{ year_counts|lookup:r.until_year }})</h4><ul>
{% endif %}
{% endifchanged %} {% if not r.hidden %}
<li>
<a href="{{ r.who.get_absolute_url }}">{{ r.who.humanName }}</a>, 
{% if r.how %}
<a href="{{ r.how.get_absolute_url }}">{{ r.how.humanName }}</a>
{% else %}
lid
{% endif %}
{{ r|rel_when }}
{% if r.may_end %}
<form action="{% url relation-end _id=r.id %}" style="display:inline"
        method="post"
        onsubmit="return confirm('Weet je zeker dat je {{ r.who.humanName }} \
        wil uitschrijven als \
        {% if r.how %}{{ r.how.humanName }}{% else %}lid{% endif %} \
        {{ r.with.genitive_prefix }} {{ r.with.humanName }}?');">
{% csrf_token %}
<input type="submit" value="be&euml;indig" />
</form>
{% endif %}{# r.may_end #}
{% endif %}{# r.hidden #}
{% endfor %}
</li>
</ul>
{% endif %}
{% if may_add_rrelated %}
{% if rrelated or object.is_group %}
<form action="{% url relation-begin %}" method="post" style="display: inline"
        onsubmit="return confirm('Weet je zeker dat je '+
        entityChoiceField_get('relation_begin2_who') +' \
        wil inschrijven als \
        '+ (entityChoiceField_get('relation_begin2_how') ?
        entityChoiceField_get('relation_begin2_how') : 'lid') +' \
        van {{ object.humanName }}?');">
        {% csrf_token %}
        <input type="hidden" name="with" value="{{ object.id }}" />
        Voeg
        <input type="hidden" name="who" id="relation_begin2_who" />
        als
        <input type="hidden" name="how" id="relation_begin2_how" />
        toe
        <input type="submit" value="verstuur" />
</form>{# relation-begin #}
{% endif %}{# rrelated or object.is_group #}
{% endif %}{# may_add_rrelated #}

{% if tags %}
<h3>Stempels</h3>
<ul>
{% for t in tags %}
<li><a href="{{ t.get_absolute_url }}">{{ t.humanName }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if tag_bearers %}
<h3>Dragers van deze stempel</h3>
<ul>
{% for t in tag_bearers %}
<li><a href="{{ t.get_absolute_url }}">{{ t.humanName }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if "secretariaat" in user.cached_groups_names %}
<h3>Notities</h3>
<ul>
{% for n in object.get_notes %}
<li>{{ n.at.date }}
{% if n.by %}
<a href="{{ n.by.get_absolute_url }}">{{ n.by.humanName }}</a>
{% endif %}{# n.by #}
<blockquote>{{ n.note }}</blockquote>
{% if n.open %}
<button onclick="$.post('{% url leden-api %}', {
                        'csrfmiddlewaretoken': csrf_token,
                        data: JSON.stringify({
                                action: 'close_note',
                                id: '{{ n.id }}'})
                        }, function(data) {
                                if(data.ok)
                                        window.location.reload();
                                else
                                        alert(data.error);
                        }); return false;">Sluit</button>
{% else %}{# n.open #}
<small>Gesloten door {{ n.closed_by.humanName }}
                op {{ n.closed_at.date }}</small>
{% endif %}{# n.open #}
</li>
{% endfor %}{# n in object.get_notes #}
</ul>
<form method="post" action="{% url add-note %}">
{% csrf_token %}
<input type="hidden" name="on" value="{{ object.id }}" />
<textarea name="note">
</textarea><br/>
<input type="submit" value="Voeg notitie toe" />
</form>
{% endif %}{# "secretariaat" in user.cached_groups_names #}

{% endblock %}
