{% extends "leden/base.html" %}

{% load i18n %}

{% block styles %}
{{ block.super }}
<link href="{{ MEDIA_URL }}leden/balans.css" rel="stylesheet" />
{% endblock styles %}

{% block body %}

<h1>{% trans "Punten van de autokasco" %}</h1>

<ul>
{% for data in errors %}
<li>
	<p>
	{% if data.objects %}
	<span class="check-{{ data.check.type }}"> &#10008;
	{% else %}
	<span class="check-ok"> &#10004; 
	{% endif %}
	{{ data.check.name }}: {{ data.check.description }}</span></p>
	{% if data.objects %}
	<p>
	{% for obj in data.objects %}
	<a href="../fin{{ year }}/show/{{ obj }}">{{ obj }}</a>
	{% endfor %}
	</p>
	{% endif %}
</li>
{% endfor %}
</ul>

{% endblock %}
