{% extends "leden/base.html" %}

{% load i18n %}

{% block styles %}
{{ block.super }}
<link href="{{ MEDIA_URL }}leden/balans.css" rel="stylesheet" />
{% endblock styles %}

{% block head %}
{{ block.super }}
<script src="{{ MEDIA_URL }}leden/balans.js" defer></script>
{% endblock head %}

{% block body %}


{% if objs|length == 0 %}
<p>
{% blocktrans  %}
Er is geen object in de boekhouding van jaar {{ year }}
met de code &ldquo;{{ handle }}&rdquo;.
{% endblocktrans %}
</p>
{% else %}
{% if objs|length > 1 %}
<p>
{% blocktrans with aantal=objs|length %}
Er zijn {{ aantal }} objecten in de boekhouding
met code &ldquo;{{ handle }}&rdquo;:
{% endblocktrans %}
</p>
{% endif %}
{% for obj in objs %}
{% if obj.type == 'account' %}
<h2>{% trans "Rekening" %} {% for anc in obj.ancestors %}<a href="{{ anc.prefix }}{{ anc.name }}:">{{ anc.name }}:</a>
	{% endfor %}</h2>
	{% if obj.children %}
	<table>
	<thead>
		<tr>
			<th>{% trans "naam" %}</th>
			<th>{% trans "begin" %}</th>
			<th>{% trans "eind" %}</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>{% trans "totaal" %}</th>
			<th>{{ obj.opening_balance }}</th>
			<th>{{ obj.balance }}</th>
		</tr>
	</tfoot>
	<tbody>
	{% for name, child in obj.children.items %}
	<tr>
		<td>
		<a href="{{ obj.path }}:{{ name }}">{{ name }}</a>
		</td>
		<td>{{ child.opening_balance }}</td>
		<td>{{ child.balance }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	{% endif %}


{% if obj.has_transactions %}
<table class="balans">
	<thead>
		<tr>
			<th>{% trans "nummer" %}</th>
			<th>{% trans "datum " %}</th>
			<th>{% trans "omschrijving / rekening" %}</th>
			<th class="th-value">{% trans "bedrag (€)" %}</th>
			<th class="th-value">{% trans "som (€)" %}</th>
		</tr>
	</thead>
	{% for day in obj.days %}
		{% for tr in day.transactions %}
		<tbody>
			<tr>
				<td>
				{% if tr.num %}
				<a href="tr{{ tr.num }}"><span class="check-{{ tr.checktype }}">{{ tr.num }}</span></a>
				{% else %}
				<a href="id{{ tr.id }}">id{{ tr.id|truncatechars:9 }}</td>
				{% endif %}
				<td>
				{% if forloop.first %}
				{% if tr.day %}
					{{ tr.day }}
				{% else %}
				&lowast;
				{% endif %}
				{% else %}
				&mdash;
				{% endif %}
				</td>
				<td>{{ tr.description }}</td>
				<td class="value"><span class="sum">{{ tr.value }}</span></td>
				<td class="value"><span class="sum">{{ tr.sum }}</span></td>
			</tr>
			{% for sp in tr.splits %}
			<tr>
				<td></td>
				<td></td>
				<td><a href="{{ sp.account }}">{{ sp.account }}</a>
				{% if mut.memo %}
					&mdash; {{ mut.memo }}
				{% endif %}</td>
				<td class="value">{{ sp.value }}</td>
				{% if sp.counts %}
				<td class="value">{{ sp.sum }}</td>
				{% else %}
				<td class="value"></td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
		{% endfor %}
	{% endfor %}
</table>
{% endif %}
{% elif obj.type == "transaction" %}
<h2>{% trans "Transactie" %} {% if obj.num %}{{ obj.num }}{% else %}<em>{% trans "zonder nummer" %}</em>{% endif %}</h2>
<p>{{ obj.day }} &mdash; &ldquo;{{ obj.description }}&rdquo;</p>
{% for check in obj.checks %}
<p><span class="check-{{ check.type }}">{{ check.name }}: {{ check.description }}</span></p>
{% endfor %}
<table>
	<thead>
		<tr>
			<th>{% trans "id" %}</th>
			<th>{% trans "rekening" %}</th>
			<th>{% trans "noot" %}</th>
			<th>{% trans "bedrag (€)" %}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for sp in obj.splits %}
		<tr>
			<td><a href="./id{{ sp.id }}">{{ sp.id }}</a></td>
			<td><a href="{{ sp.account }}">{{ sp.account }}</a></td>
			<td>{% if sp.memo %}
				{{ sp.memo }}
			{% else %}
			<em>{% trans "geen" %}</em>
			{% endif %}</td>
			<td class="value">{{ sp.value }}</td>
			<td>
			{% for check in sp.checks %} 
			<span class="check-{{ check.type }}">{{ check.name }}: {{ check.description }}</span>
			{% endfor %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% elif obj.type == "split" %}
<h2>{% trans "Split" %} {{ obj.id }}</h2>
{% for check in obj.checks %}
<p><span class="check-{{ check.type }}">{{ check.name }}: {{ check.description }}</span></p>
{% endfor %}
<table>
	<tbody>
		<tr>
			<th>{% trans "id" %}</th>
			<td><a href="./id{{ obj.id }}">{{ obj.id }}</a></td>
		</tr>
		<tr>
			<th>{% trans "transactie" %}</th>
			<td><a href="./tr{{ obj.tr }}">{{ obj.tr }}</a></td>
		</tr>
		<tr>
			<th>{% trans "rekening" %}</th>
			<td><a href="./{{ obj.account }}">{{ obj.account }}</a></td>
		</tr>
		<tr>
			<th>{% trans "bedrag (€)" %}</th>
			<td class="value">{{ obj.value }}</td>
		</tr>
		<tr>
			<th>{% trans "noot" %}</th>
			<td>{{ obj.memo }}</td>
		</tr>
	<tbody>
</table>
{% endif %}
<table>
	<tr>
		<td>{% trans "jaar" %}:</td>
		<td><a href=":">{{ year }}</a></td>
		<td>{% trans "id" %}:</td>
		<td><a href="id{{ obj.id }}">{{ obj.id }}</a></td>
		<td>{% trans "type" %}:</td>
		<td>{{ obj.type }}</td>
	</tr>
<table>
{{ obj }}
{% endfor %}
{% endif %} {# objs|length == 0 #}


handle: {{ handle }}

{% endblock %}
