{% extends "leden/base.html" %}

{% load i18n %}

{% block body %}

<form action="" method="post">
	{% csrf_token %}
	<p>
	{% blocktrans %}
	Waarde website,
	<input type="submit" value="ja">,
	stuur voor mij per email deze tekst
	{% endblocktrans %}
	</p>
	<pre>{{ email }}</pre>
	{% blocktrans %}
	naar de in de onderstaande lijst aangekruisde debiteuren.
	{% endblocktrans %}
	</p>
	<table>
		<tr>
			<th>{% trans "Email?" %}</th>
			<th>{% trans "Debet" %}</th>
			<th>{% trans "Naam" %}</th>
			<th>{% trans "E-mail" %}</th>
		</tr>
		{% for name, debdata in data.items %}
		<tr>
			<td>{% if debdata.user %}
				<input type="checkbox" name="debitor" value="{{ debdata.user.name }}" checked ></td>
			{% endif %}
			<td>€ {{ debdata.debt }}</td>
			<td>{{ name }}</td>
			<td>{% if debdata.user %}
				{{ debdata.user.primary_email }}
			{% else %}
				<em>{% trans "onbekend" %}</em></td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</form>


{% endblock %}
