{% extends "leden/entity_base.html" %}
{% load base %}

{% block body %}
<!-- TODO stub -->
<h1>{{ object.humanName }}</h1>
<p>{{ object.description }}</p>
<dl>
	<dt>Korte namen</dt>
	<dd>
        {% for name in object.names %}{% if not forloop.first %}, {% endif %}
        {{ name  }}{% endfor %}
	</dd>
	<dt>E-Mail lijst</dt>
        <dd>{{ object.canonical_email }}</dd>
</dl>
{% if isFreeToJoin %}
{% if relation_with_group %}
<form action="{% url relation-end _id=relation_with_group %}"
        style="display:inline" method="post">
{% csrf_token %}
<input type="submit" value="Verlaat" />
</form>
{% else %}
<form action="{% url relation-begin %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="with" value="{{ object.id }}" />
        <input type="hidden" name="how" value="null" />
        <input type="hidden" name="who" value="{{ request.user.id }}" />
        <input type="submit" value="Treed toe" />
</form>
{% endif %}
{% endif %}
{{ block.super }}
{% endblock %}
