{% extends "leden/entity_base.html" %}
{% load base %}
{% load leden %}
{% load i18n %}

{% block entity_body %}
<dl>
    <dt>{% trans "Korte namen" %}</dt>
	<dd>
        {% for name in object.names %}{% if not forloop.first %}, {% endif %}
        {{ name }}{% endfor %}
	</dd>
    <dt>{% trans "E-Maillijst" %}</dt>
        <dd><a href="mailto:{{ object.canonical_email }}">
                {{ object.canonical_email }}</a></dd>

        {% if chiefs %}
        <dt>{% if chiefs|length > 1 %}{% trans "Hoofden" %}{% else %}{% trans "Hoofd" %}{% endif %}</dt>
        <dd>
        {% for chief in chiefs %}
        {% if not forloop.first %}<br/>{% endif %}
        <a href="{{ chief.who.get_absolute_url }}">{{ chief.who.humanName }}</a>
        {{ chief|rel_when }}
        {% endfor %}{# chief in chiefs #}
        </dd>
        {% endif %}{# chiefs #}

        {% if pipos %}
        <dt>
        {% if pipos|length > 1 %}
        {% trans "Bestuurspipo's" %}
        {% else %}
        {% trans "Bestuurspipo" %}
        {% endif %}
        </dt>
        <dd>
        {% for pipo in pipos %}
        {% if not forloop.first %}<br/>{% endif %}
        <a href="{{ pipo.who.get_absolute_url }}">{{ pipo.who.humanName }}</a>
        {{ pipo|rel_when }}
        {% endfor %}{# pipo in pipos #}
        </dd>
        {% endif %}{# pipos #}

        {% if reps %}
        <dt>{% if reps|length > 1 %}{% trans "Vertegenwoordiger" %}{% else %}{% trans "Vertegenwoordigers" %}{% endif %}</dt>
        <dd>
        {% for rep in reps %}
        {% if not forloop.first %}<br/>{% endif %}
        <a href="{{ rep.who.get_absolute_url }}">{{ rep.who.humanName }}</a>
        {{ rep|rel_when }}
        {% endfor %}{# rep in reps #}
        </dd>
        {% endif %}{# reps #}
</dl>
{% if isFreeToJoin %}
{% if relation_with_group %}
<form action="{% url "relation-end" _id=relation_with_group %}"
        style="display:inline" method="post">
{% csrf_token %}
<input type="submit" value="{% trans "Verlaat" %}" />
</form>
{% else %}
<form action="{% url "relation-begin" %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="with" value="{{ object.id }}" />
        <input type="hidden" name="how" value="null" />
        <input type="hidden" name="who" value="{{ request.user.id }}" />
        <input type="submit" value="{% trans "Treed toe" %}" />
</form>
{% endif %}
{% endif %}
{% endblock entity_body %}
