{% extends "leden/base.html" %}

{% block body %}
<h1>Smoelenboek</h1>
<p>Hallo {{user.full_name }},</p>
<p>je kunt hier onder andere</p>
<ul>
	<li><a href="{% url user-list %}"
		>alle gebruikers</a> met onder andere leden en oud-leden;</li>
	<li><a href="{% url oldkngroup-detail name="leden"  %}"
		>alle leden</a> en</li>
	<li><a href="{% url oldkngroup-detail name="comms" %}"
		>alle commissies</a></li>
</ul>
<p>vinden en jouw 
<a href="{% url chpasswd %}" name="">wachtwoord veranderen</a>.</p>

{% endblock %}
