{% extends "leden/base.html" %}

{% block body %}
<h1>Wachtwoord veranderen</h1>
<form method="post" action="">
	{% if errors %}
	<p>Lieve {{ user.first_name }}, dit zou ik wel willen, maar je hebt 
	{{errors}}.</p>
	<p> Probeer het nog eens? </p>
	{% endif %}

	{% if done %}
	<p>Lieve {{ user.first_name }}, maar natuurlijk, 
		jouw wachtwoord is veranderd.</p>
	{% endif %}

	<p>Lieve website, zou je mijn oude wachtwoord
	 {{form.old_password}} naar
	{{form.new_password}}, ik zeg het nogmaals 
	{{form.new_password_again}}, kunnen 
	<input type="submit" value="veranderen?" /> 
	</p>

</form>

{% endblock %}
