{% extends "leden/base.html" %}

{% load i18n %}

{% block head %}
<script src="{{ MEDIA_URL }}leden/zxcvbn.js" type="text/javascript">
</script>
{{ block.super }}
{% endblock %}

{% block body %}
<h1>{% trans "Wachtwoord veranderen" %}</h1>
<form method="post" action="">
	{% csrf_token %}
	{% if errors %}
    <p>{% blocktrans with name=user.first_name %}Lieve {{ name }}, dit zou ik
    wel willen, maar je hebt {{errors}}.{% endblocktrans %}</p>
    <p>{% trans "Probeer het nog eens?" %}</p>
	{% endif %}

    <p>{% blocktrans with old=form.old_password new=form.new_password \
                new_again=form.new_password_again %}
    Lieve website, zou je mijn oude wachtwoord van:<br />
	{{ old }}<br />
	naar: <br />{{ new }},<br />
	ik zeg het nogmaals: <br />{{ new_again }},<br />
	kunnen <input type="submit" value="veranderen?" id="pwsubmit" /> 
    {% endblocktrans %}
	</p>
        <p id="pwstat">
        </p>
</form>

<script type="text/javascript">
        $('#{{form.new_password.auto_id}}').keyup(function(){
                var res = zxcvbn($(this).val());
                var text = null;
                if (res.crack_time < 1)
                        text = '{% trans "binnen een seconde" %}';
                else if (res.crack_time < 60)
                        text = '{% trans "binnen een minuut" %}';
                else if (res.crack_time < 60*60)
                        text = '{% trans "binnen een uur" %}';
                else if (res.crack_time < 60*60*24)
                        text = '{% trans "binnen een dag" %}';
                else if (res.crack_time < 60*60*24*30)
                        text = '{% trans "binnen een maand" %}';
                else if (res.crack_time < 60*60*24*356)
                        text = '{% trans "binnen een jaar" %}';
                else if (res.crack_time < 60*60*24*356*10)
                        text = '{% trans "binnen een decennium" %}';
                else if (res.crack_time < 60*60*24*356*100)
                        text = '{% trans "binnen een eeuw" %}';
                else
                        text = null;
                
                if (res.crack_time > 60*60*24*356*10) {
                        $('#pwsubmit').prop('disabled', false);
                        $('#pwstat').css('color', 'green');
                } else {
                        $('#pwsubmit').prop('disabled', true);
                        $('#pwstat').css('color', 'red');
                }


                if (text !== null)
                        $('#pwstat').html('{% trans "Wachtwoord is te raden " %}'
                                                + text + ".");
                else
                        $('#pwstat').html('{% trans "Wachtwoord is goed!" %}');
        });
</script>

{% endblock %}
