{% extends "leden/base.html" %}

{% block body %}
<h1>Villa internet wachtwoord veranderen</h1>
<form method="post" action="">
	{% csrf_token %}
	{% if errors %}
	<p>Lieve {{ user.first_name }}, dit zou ik wel willen, maar je hebt 
	{{errors}}.</p>
	<p> Probeer het nog eens? </p>
	{% endif %}

        <p>Je kunt hieronder je wachtwoord veranderen om op de Villa op het
        netwerk in te kunnen loggen.</p>

        <table>
                <tr>
                        <td>KN-wachtwoord</td>
                        <td>{{ form.old_password }} </td>
                </tr>
                <tr>
                        <td>Villanet-wachtwoord</td>
                        <td>{{ form.new_password }} </td>
                </tr>
                <tr>
                        <td>Nogmaals</td>
                        <td>{{ form.new_password_again }} </td>
                </tr>
                <tr>
                        <td></td>
                        <td><input type="submit" value="veranderen?" /> </td>
                </tr>
        </table>
</form>

{% endblock %}
