{% extends "leden/base.html" %}

{% block body %}
<h1>Wachtwoord veranderen</h1>
<form method="post" action="">
	{% csrf_token %}
	
	<table><tr>
		<td>Huidig:</td><td>{{form.old_password}}</td>
	</tr><tr>
		<td>Nieuw:</td><td>{{form.new_password}}</td>
	</tr><tr>
		<td>Nogmaals nieuw:&nbsp;</td><td>{{form.new_password_again}}</td>
	</tr><tr>
		<td><input type="submit" value="Opslaan" /></td><td></td>
	</tr></table>


{% if errors %}
	<p>Je hebt {{errors}}.</p>
	<p> Probeer het nog eens. </p>
	{% endif %}

</form>

{% endblock %}
