{% extends "leden/base.html" %}
{% load leden %}

{% block body %}
<h1>{{ object.humanName }}</h1>
<p>{{ object.description }}</p>
<dl>
	{% if object.parent %}
	{% ifnotequal object.parent object %}
	<dt>Onder</dt>
	<dd><a href="{{ object.parent.get_absolute_url }}"
		>{{ object.parent.humanName }}</a></dd>
	{% endifnotequal %}
	{% endif %}
	{% if not object.isVirtual %}
	<dt>E-Mail lijst</dt>
	<dd>{{ object.get_primary_email|email }}
	{% endif %}
</dl>
{% if object.kngroup_set.all %}
	<ul>
	{% for comm in object.kngroup_set.all %}
	{% ifnotequal comm object %}
	<li>
	<a href="{{ comm.get_absolute_url }}"
		>{{ comm.humanName }}</a>
	</li>
	{% endifnotequal %}
	{% endfor %}
	</ul>
{% endif %}
{% if seats %}
	<h2>Zetels</h2>
	<dl>
	{% for seat in seats %}
	<dt>{{ seat.humanName }}</dt>
	<dd><a href="{{ seat.user.get_absolute_url }}"
		>{{ seat.user.get_full_name }}</a></dd>
	{% endfor %}
	</dl>
{% endif %}
{% if otherMembers %}
	<h2>Algemeen leden</h2>
	<ul>
	{% for user in otherMembers %}
	<li><a href="{{ user.knuser.get_absolute_url }}"
		>{{ user.knuser.get_full_name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}
{% endblock %}
