{% extends "leden/base.html" %}
{% load base %}

{% block body %}
<h1>{{ object.get_full_name }}</h1>
<dl>
	<dt>Gebruikersnaam</dt>
	<dd>{{ object.username }}</dd>
	<dt>E-Mail</dt>
	<dd>{{ object.primary_email|email }}</dd>
	{% if object.study %}
	<dt>Studie</dt>
	<dd><a href="{% url study-detail object_id=object.study.id %}"
		>{{ object.study }}</a></dd>
	{% endif %}
	{% if object.dateOfBirth %}
	<dt>Geboortedatum</dt>
	<dd>
	<a href="{% url bouwjaar year=object.dateOfBirth.year %}"
		>{{ object.dateOfBirth.year }}</a>-{{ object.dateOfBirth.month }}-{{ object.dateOfBirth.day }}
	</dd>
	{% endif %}
	{% if object.dateJoined %}
	<dt>Lid sinds</dt>
	<dd>
	<a href="{% url jaar year=object.dateJoined.year %}"
		>{{ object.dateJoined.year }}</a>-{{ object.dateJoined.month }}-{{ object.dateJoined.day }}
	</dd>
	{% endif %}
</dl>
{% if comms %}
	<h2>Groepen</h2>
	<ul>
	{% for comm in comms %}
	<li><a href="{{ comm.kngroup.get_absolute_url }}"
		>{{ comm.kngroup.humanName }}</a></li>
	{% endfor %}
	</ul>
{% endif %}
{% if seats %}
	<h2>Zetels</h2>
	<ul>
		{% for seat in seats %}
		<li>{{ seat.humanName }} {{ seat.group.genitive_prefix }}
		<a href="{{ seat.group.get_absolute_uri }}"
			>{{ seat.group.humanName }}</a></li>
		{% endfor %}
	</ul>
{% endif %}
{% endblock %}
