{% load i18n %}

{% block from %}
{% trans "Karpe Noktems ledenadministratie <nietjewachtwoorddoorsturen@karpenoktem.nl>" %}
{% endblock %}

{% block subject %}
{% trans "[Karpe Noktem Smoelenboek] Nieuw wachtwoord" %}
{% endblock %}

{% block html %}
{% url "smoelen-home" as url_smoelen_home %}
{% blocktrans with first_name=user.first_name %}
<p>Beste {{ first_name }},</p>
{% endblocktrans %}

<p>
{% blocktrans with base_url=BASE_URL url_smoelen_home=url_smoelen_home %}
Jouw wachtwoord is gereset. Je kunt nu op <a href="{{ base_url }}{{ url_smoelen_home }}">karpenoktem.nl</a> inloggen met:
{% endblocktrans %}
</p>

<table>
  <tr>
    <th style="text-align: left;">{% trans "gebruikersnaam" %}</th>
    <td>{{ user.name }}</td>
  </tr>
  <tr>
    <th style="text-align: left;">{% trans "wachtwoord" %}</th>
    <td>{{ password }}</td>
  </tr>
</table>

<p>{% trans "Met een vriendelijke groet," %}</p>

<p>{% trans "Het Karpe Noktem Smoelenboek" %}</p>
{% endblock html %}
