{% extends "leden/base.html" %}

{% load i18n %}
{% load base %}

{% block body %}
<h1>{% trans "Openstaande notities" %}</h1>
<ul>
{% for n in notes %}
<li>
{{ n.at.date }} 
<a href="{{ n.on.get_absolute_url }}">{{ n.on.humanName }}</a>
{% if n.by %}
({% trans "door" %} <a href="{{ n.by.get_absolute_url }}">{{ n.by.humanName }}</a>)
{% endif %}{# n.by #}
<blockquote>{{ n.note }}</blockquote>
</li>
{% endfor %}{# n in notes #}
</ul>
{% if not notes %}
<p>Er zijn geen openstaande notities.</p>
{% endif %}
{{ block.super }}
{% endblock %}
