{% load i18n %}

{% block from %}
{% trans "Karpe Noktems ledenadministratie <nietjewachtwoorddoorsturen@karpenoktem.nl>" %}
{% endblock %}

{% block subject %}
{% trans "[Karpe Noktem Smoelenboek] Jouw wachtwoord" %}
{% endblock %}

{% block html %}
{% url "smoelen-home" as url_smoelen_home %}
{% blocktrans with first_name=user.first_name %}
<p>Beste {{ first_name }},</p>

<p>Welkom bij Karpe Noktem! Je inloggegevens zijn:</p>
{% endblocktrans %}

<table>
  <tr>
    <th style="text-align: left;">{% trans "gebruikersnaam" %}</th>
    <td>{{ user.name }}</td>
  </tr>
  <tr>
    <th style="text-align: left;">{% trans "wachtwoord" %}</th>
    <td>{{ password }}</td>
  </tr>
</table>

{% blocktrans %}
<p>Hiermee kun je inloggen in het <a href="https://karpenoktem.nl/smoelen/">smoelenboek</a>.
Daarnaast bied Karpe Noktem nog een aantal andere digitale diensten, zie het
smoelenboek voor details.</p>

<p>Heb je nog vragen over of suggesties voor de digitale diensten van Karpe
Noktem? E-Mail naar <a href="mailto:webcie@karpenoktem.nl">webcie@karpenoktem.nl</a>.</p>

<p>Met een geautomatiseerde groet,<br/>
Karpe Noktem Webcie</p>

{% endblocktrans %}
{% endblock html %}
