{% extends "leden/base.html" %}

{% load i18n %}

{% block styles %}
{{ block.super }}
<link href="{{ MEDIA_URL }}leden/entity_detail.css" rel="stylesheet" />
{% endblock styles %}

{% block head %}
<script>
var object_id = '{{ object.id }}';
</script>
{{ block.super }}
<script src="{{ MEDIA_URL }}leden/entity_detail.js" defer></script>
{% endblock head %}

{% block body %}

<style>
</style>
<h1>{% trans "Instellingen" %}</h1>

<p>
  {% blocktrans %}
    Hier kun je je eigen gegevens beheren die in het systeem van Karpe Noktem
    staan. Dit overzicht is nog niet compleet. Binnenkort komen hier meer items
    bij te staan.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans %}
    Als er iets niet klopt in dit overzicht of als je toch weer iets wilt
    instellen (adres, geboortedatum), laat dat dan weten aan de secretaris
    (<a href="mailto:secretaris@karpenoktem.nl">secretaris@karpenoktem.nl</a>).
    Dan zal dat hersteld worden.
  {% endblocktrans %}
</p>

<dl>
  <dt>{% trans "Foto" %}</dt>
  <dd>
    {% if hasPhoto %}
      <img src="{% url "user-smoel" object.name %}"
           width="{{ photoWidth }}"
           height="{{ photoHeight }}"/>
    {% else %}
      Geen foto ingesteld.
    {% endif %}
    <form method="post" action="{% url "ik-chsmoel"  %}"
            enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ object.id }}" />
    <input type="file" name="smoel" accept="image/*" required />
    <input type="submit" value="{% trans "Nieuwe foto instellen" %}" />
    </form>
  </dd>
  <dt>{% trans "E-Mailadres" %}</dt>
  <dd>
    <a href="mailto:{{ object.email}}">{{ object.email }}</a>
  </dd>
  <dt>{% trans "Studie" %}</dt>
  <dd>
    {% if object.studies %}
    <ul>
      {% for s in object.studies %}
      <li>
        <a href="{{ s.study.get_absolute_url }}">{{ s.study.humanName }}</a>
        {% trans "op" %}
        <a href="{{ s.institute.get_absolute_url }}">{{ s.institute.humanName}}</a>
        {% if s.number %}
          {% trans "studentnummer" %} {{ s.number }}
        {% endif %}
        {% if s.from and s.until %}
          ({% trans "van"%} {{ s.from.date }} {% trans "tot" %} {{ s.until.date }})
        {% elif s.from %}
          ({% trans "van"%} {{ s.from.date }})
        {% elif s.until %}
          ({% trans "tot" %} {{ s.until.date }})
        {% endif %}
        </li>
      {% endfor %}{# s in object.studies #}
    </ul>
    {% else %}
    Geen studies geregistreerd.
    {% endif %}
  </dd>
  <dt>{% trans "Telefoonnummer" %}</dt>
  <dd>
    {% if object.telephone %}
      {{ object.telephone }}
      <label title="{% trans "Of het telefoonnummer voor alle leden zichtbaar is" %}"><input type="checkbox" {% if object.visibility.telephone %}checked{% endif %} data-action="entity_update_visibility:telephone"> {% trans "zichtbaar" %} <span class="progress"></span></label>
    {% else %}
      {% trans "Geen telefoonnummer geregistreerd." %}
    {% endif %}
  </dd>
  <dt>{% trans "Adres" %}
    {% if object.address %}
      <button data-action="entity_remove_property:address:!{% trans "Weet je zeker dat je je adres wilt verwijderen? Dit kan alleen hersteld worden door de secretaris. Je zult dan ook geen kerstkaart meer krijgen." %}">{% trans "Verwijder" %}</button>
    {% endif %}
  </dt>
  <dd>
    {% if object.address %}
      <address>
        {{ object.address.street }} {{ object.address.number }}<br/>
        {{ object.address.zip }} {{ object.address.city }}
      </address>
    {% else %}
      {% trans "Geen woonadres geregistreerd." %}
    {% endif %}
  </dd>
  <dt>{% trans "Geboortedatum" %}
  {% if object.dateOfBirth %}
      <button data-action="entity_remove_property:dateOfBirth:!{% trans "Weet je zeker dat je je geboortedatum wilt verwijderen? Dit kan alleen hersteld worden door de secretaris." %}">{% trans "Verwijder" %}</button>
      <span class="progress"></span>
    {% endif %}
  </dt>
  <dd>
    {% if object.dateOfBirth %}
      {{ object.dateOfBirth|date:"Y-m-d" }}
    {% else %}
      {% trans "Geen geboortedatum geregistreerd." %}
      {% if object.is_underage %}
        {% trans "Wel dat je minderjarig bent." %}
      {% else %}{# object.is_underage #}
        {% trans "Wel dat je 18+ bent." %}
      {% endif %}{# object.is_underage #}
      {% trans "Als je je geboortedatum wilt instellen, vraag dat dan aan een bestuurslid." %}
    {% endif %}
  </dd>
</dl>

{% endblock body %}
