{% extends "leden/entity_base.html" %}

{% load base %}
{% load i18n %}

{% block entity_body %}
{% if "secretariaat" in user.cached_groups_names %}
{% if object.is_active %}
<form method="post" action="{% url "user-reset-password" _id=object.id %}">
{% csrf_token %}
<input type="submit" value="{% trans "stuur nieuw wachtwoord" %}" />
</form>
{% endif %}{# object.is_active #}
{% endif %}{# "secretariaat" in user.cached_groups_names #}
<dl>
    <dt>{% trans "Gebruikersnamen" %}</dt>
	<dd>
	{% for name in object.names %}{% if not forloop.first %}, 
	{% endif %}{{ name  }}{% endfor %}
	</dd>
    <dt>{% trans "E-Mailadres" %}</dt>
        <dd><a href="mailto:{{ object.canonical_email }}">
                {{ object.canonical_email }}</a></dd>
        {% if "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object %}
        <dt>{% trans "Achterliggend e-mailadres" %}<dt>
        <dd>
        {{ object.email }}
        {% if "secretariaat" in user.cached_groups_names %}
        <button onclick="var new_address = prompt('{% trans "Nieuw e-mail adres" %}');
                         if (!new_address) return false;
                         $.post('{% url "leden-api" %}', {
                                'csrfmiddlewaretoken': csrf_token,
                                data: JSON.stringify({
                                        action: 'entity_update_primary',
                                        type: 'email',
                                        new: new_address,
                                        id: '{{ object.id }}'})
                                }, function(data) {
                                        if(data.ok) window.location.reload();
                                        else alert(data.error);
                                }); return false;">{% trans "Wijzig e-mail" %}</button>
        {% endif %}{# "secretariaat" in user.cached_groups_names #}
        </dd>
        {% endif %}{# "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object #}
        {% if object.primary_study or "secretariaat" in user.cached_groups_names and addStudyForm %}
        <dt>{% trans "Studie" %}</dt>
        <dd>
        {% if "secretariaat" in user.cached_groups_names and addStudyForm %}
        <a href onclick="$('#block-add-study').addClass('visible'); return false;">{% trans "toevoegen" %}</a>
            <form method="POST" action="" id="block-add-study"
                {% if addStudyFormOpen %} class="visible" {% endif %}>
                <input type="hidden" name="action" value="add-study"/>
                {% csrf_token %}
                <table>
                    {{ addStudyForm.as_table }}
                </table>
                <input type="submit" value="{% trans "Toevoegen" %}" />
            </form>
        {% endif %}{# "secretariaat" in user.cached_groups_names and addStudyForm #}
        <ul>
        {% for s in object.studies %}
        <li><a href="{{ s.study.get_absolute_url }}"
                >{{ s.study.humanName }}</a>
        {% trans "op" %} <a href="{{ s.institute.get_absolute_url }}"
                >{{ s.institute.humanName}}</a>
        {% if "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object %}
        {% if s.number %}
        {% trans "studentnummer" %} {{ s.number }}
        {% endif %}
        {% endif %}{# "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object #}
        {% if s.from or s.until %}
        ({% if s.from %}
        {% trans "van" %} {{ s.from.date }}
        {% endif %}
        {% if s.until %}
        {% trans "tot" %} {{ s.until.date }}
        {% endif %})
        {% endif %}
        {% if "secretariaat" in user.cached_groups_names and not s.until %}
        <button data-action="entity_end_study:{{ forloop.counter0 }}:?{% trans "Beëindig studie" %}"
            data-default="{{ now|date:"Y-m-d" }}">{% trans "Beëindig" %}</button>
        {% endif %}{# "secretariaat" in user.cached_groups_names and not s.until #}
        </li>
        {% endfor %}{# s in object.studies #}
        </ul>
        </dd>
        {% endif %}{# object.primary_study or "secretariaat" in user.cached_groups_names and addStudyForm #}

        {% if object.visibility.telephone or "secretariaat" in user.cached_groups_names or object == user %}
        <dt>
        {% trans "Telefoonnummer" %}
        {% if "secretariaat" in user.cached_groups_names %}
        <button onclick="var new_phone = prompt('{% trans "Nieuw telefoonnummer" %}');
                         if (!new_phone) return false;
                         $.post('{% url "leden-api" %}', {
                                'csrfmiddlewaretoken': csrf_token,
                                data: JSON.stringify({
                                        action: 'entity_update_primary',
                                        type: 'telephone',
                                        new: new_phone,
                                        id: '{{ object.id }}'})
                                }, function(data) {
                                        if(data.ok) window.location.reload();
                                        else alert(data.error);
                                }); return false;">{% trans "Wijzig telefoonnummer" %}</button>
        {% endif %}{# "secretariaat" in user.cached_groups_names #}
        </dt>
        <dd>
          {% if object.telephone %}
            {{ object.telephone }}
          {% else %}
            {% trans "Geen telefoonnummer geregistreerd." %}
          {% endif %}
        </dd>
        {% endif %}

        {% if "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object %}
        <dt>{% trans "Adres" %}
        {% if "secretariaat" in user.cached_groups_names %}
        <button onclick="var new_addr = prompt(
                        '{% trans "Nieuw adres (straatnaam, nummer, postcode, plaats)" %}',
                        '{{ object.address.street|escapejs }}, '+
                        '{{ object.address.number|escapejs }}, '+
                        '{{ object.address.zip|escapejs }}, '+
                        '{{ object.address.city|escapejs }}');
                         if (!new_addr) return false;
                         var addr = new_addr.split(',');
                         if (addr.length != 4) {
                                 alert('{% trans "Er mist een waarde (verwacht: 4, gekregen: " %}'+addr.length+')');
                                return false;
                         }
                         var addr_street = $.trim(addr[0]);
                         var addr_number = $.trim(addr[1]);
                         var addr_zip    = $.trim(addr[2]);
                         var addr_city   = $.trim(addr[3]);
                         $.post('{% url "leden-api" %}', {
                                'csrfmiddlewaretoken': csrf_token,
                                data: JSON.stringify({
                                        action: 'entity_update_primary',
                                        type: 'address',
                                        new: { street: addr_street,
                                               number: addr_number,
                                               zip   : addr_zip,
                                               city  : addr_city },
                                        id: '{{ object.id }}'})
                                }, function(data) {
                                        if(data.ok) window.location.reload();
                                        else alert(data.error);
                                }); return false;">{% trans "Wijzig adres" %}</button>
        {% endif %}{# "secretariaat" in user.cached_groups_names #}
        </dt>
        <dd>
        {% if object.address %}
          <address>{{ object.address.street }} {{ object.address.number }}<br/>
                  {{ object.address.zip }} {{ object.address.city }}
          </address>
        {% else %}
          {% trans "Geen woonadres geregistreerd." %}
        {% endif %}
    </dd>
    {% endif %}{# "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object #}
    {% if object.dateOfBirth or "secretariaat" in user.cached_groups_names or object == user %}
    <dt>
        {% trans "Geboortedatum" %}
        {% if "secretariaat" in user.cached_groups_names %}{# object.dateOfBirth #}
          {% if object.dateOfBirth %}
            <button data-action="entity_remove_property:dateOfBirth:!{% trans "Weet je zeker dat je de geboortedatum wilt verwijderen?" %}">{% trans "Verwijder" %}</button>
          {% else %}
            <button data-action="entity_set_property:dateOfBirth:?Nieuwe geboortedatum (yyyy-mm-dd):" title="{% trans "Stel nieuwe geboortedatum in" %}">{% trans "Stel in" %}</button>
          {% endif %}
        {% endif %}
    </dt>
    <dd>
        {% if object.dateOfBirth %}
          <a href="{% url "entities-by-year-of-birth" year=object.dateOfBirth.year %}">{{ object.dateOfBirth.year }}</a>-{{ object.dateOfBirth|date:"m-d" }}
        {% else %}
          {% trans "Geen geboortedatum geregistreerd." %}
          {% if object.is_underage is None %}
            {# underage status unknown #}
          {% elif object.is_underage %}
            {% trans "Wel dat dit lid minderjarig is." %}
          {% else %}{# object.is_underage #}
            {% trans "Wel dat dit lid 18+ is." %}
          {% endif %}{# object.is_underage #}
        {% endif %}{# object.dateOfBirth #}
    </dd>
    {% endif %}{# may view dateOfBirth #}
</dl>
{% endblock entity_body %}
