{% extends "leden/entity_base.html" %}
{% load base %}
<!-- TODO stub -->

{% block head %}
{{ block.super }}
<link href="{{ MEDIA_URL }}/leden/user_detail.css"
	rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
{% if hasPhoto %}
<div class="smoel"><img src="{% url user-smoel object.name %}" /></div>
{% else %}
<div class="nosmoel"><a href="{{ photosUrl }}">Foto's</a></div>
{% endif %}
<h1>{{ object.full_name }}</h1>
<dl>
	<dt>Gebruikersnamen</dt>
	<dd>
	{% for name in object.names %}{% if not forloop.first %}, 
	{% endif %}{{ name  }}{% endfor %}
	</dd>
	<dt>E-Mail</dt>
	<dd>
        {{ object.canonical_email }}
	</dd>
	{% if object.primary_study %}
	<dt>Studie</dt>
        <dd>
        <ul>
        {% for s in object.studies %}
        <li><a href="{{ s.study.get_absolute_url }}"
                >{{ s.study.humanName }}</a>
        op <a href="{{ s.institute.get_absolute_url }}"
                >{{ s.institute.humanName}}</a>
        {% if s.from or s.until %}
        ({% if s.from %}
        van {{ s.from.date }}
        {% endif %}
        {% if s.until %}
        tot {{ s.until.date }}
        {% endif %})
        {% endif %}
        </li>
        {% endfor %}{# s in object.studies #}
        </ul>
        </dd>
	{% endif %}
        {% if object.dateOfBirth %}
	<dt>Geboortedatum</dt>
	<dd>
                {{ object.dateOfBirth.year }}-{{ object.dateOfBirth.month }}-{{ object.dateOfBirth.day }}
	</dd>
        {% endif %}
	{% if object.dateJoined %}
	<dt>Lid sinds</dt>
	<dd>
	<a href="{% url jaar year=object.dateJoined.year %}"
		>{{ object.dateJoined.year }}</a>-{{ object.dateJoined.month }}-{{ object.dateJoined.day }}
	</dd>
	{% endif %}
</dl>
{% if comms %}
	<h2>Groepen</h2>
	<ul>
	{% for comm in comms %}
	<li><a href="{{ comm.oldkngroup.get_absolute_url }}"
		>{{ comm.oldkngroup.humanName }}</a></li>
	{% endfor %}
	</ul>
{% endif %}
{% if oldseats %}
	<h2>Zetels</h2>
	<ul>
		{% for oldseat in oldseats %}
		<li>{{ oldseat.humanName }} {{ oldseat.group.genitive_prefix }}
		<a href="{{ oldseat.group.get_absolute_url }}"
			>{{ oldseat.group.humanName }}</a></li>
		{% endfor %}
	</ul>
{% endif %}
{{ block.super }}
{% endblock %}
