{% extends "leden/entity_base.html" %}
{% load base %}
<!-- TODO stub -->

{% block styles %}
{{ block.super }}
<link href="{{ MEDIA_URL }}/leden/user_detail.css"
	rel="stylesheet" type="text/css" />
{% endblock styles %}

{% block body %}
{% if hasPhoto %}
<div class="smoel"><a href="{{ photosUrl }}"><img
                src="{% url user-smoel object.name %}"
                width="{{ photoWidth }}" /></a></div>
{% else %}
<div class="nosmoel"><a href="{{ photosUrl }}">Foto's</a></div>
{% endif %}
<h1>{{ object.full_name }}</h1>
{% if "secretariaat" in user.cached_groups_names %}
<form method="post" action="{% url user-reset-password _id=object.id %}">
{% csrf_token %}
<input type="submit" value="stuur nieuw wachtwoord" />
</form>
{% endif %}{# "secretariaat" in user.cached_groups_names #}
{% if "secretariaat" in user.cached_groups_names %}
<h4>Nieuwe smoel uploaden</h4>
<form method="post" action="{% url ik-chsmoel  %}"
        enctype="multipart/form-data">
{% csrf_token %}
<input type="hidden" name="id" value="{{ object.id }}" />
<input type="file" name="smoel" />
<input type="submit" value="upload smoel" />
</form>
{% endif %} {# "secretariaat" in user.cached_groups_names #}
<dl>
	<dt>Gebruikersnamen</dt>
	<dd>
	{% for name in object.names %}{% if not forloop.first %}, 
	{% endif %}{{ name  }}{% endfor %}
	</dd>
	<dt>E-Mailadres</dt>
        <dd><a href="mailto:{{ object.canonical_email }}">
                {{ object.canonical_email }}</a></dd>
        {% if "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object %}
        <dt>Achterliggend e-mailadres<dt>
        <dd>
        {{ object.primary_email }}
        {% if "secretariaat" in user.cached_groups_names %}
        <button onclick="var new_address = prompt('Nieuw e-mail adres');
                         if (!new_address) return false;
                         $.post('{% url leden-api %}', {
                                'csrfmiddlewaretoken': csrf_token,
                                data: JSON.stringify({
                                        action: 'entity_update_primary',
                                        type: 'email',
                                        new: new_address,
                                        id: '{{ object.id }}'})
                                }, function(data) {
                                        if(data.ok) window.location.reload();
                                        else alert(data.error);
                                }); return false;">Wijzig e-mail</button>
        {% endif %}{# "secretariaat" in user.cached_groups_names #}
        </dd>
        {% endif %}{# "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object #}
	{% if object.primary_study %}
	<dt>Studie</dt>
        <dd>
        <ul>
        {% for s in object.studies %}
        <li><a href="{{ s.study.get_absolute_url }}"
                >{{ s.study.humanName }}</a>
        op <a href="{{ s.institute.get_absolute_url }}"
                >{{ s.institute.humanName}}</a>
        {% if "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object %}
        {% if s.number %}
        studentnummer {{ s.number }}
        {% endif %}
        {% endif %}{# "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object #}
        {% if s.from or s.until %}
        ({% if s.from %}
        van {{ s.from.date }}
        {% endif %}
        {% if s.until %}
        tot {{ s.until.date }}
        {% endif %})
        {% endif %}
        </li>
        {% endfor %}{# s in object.studies #}
        </ul>
        </dd>
	{% endif %}
        {% if "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object %}
	{% if object.telephones %}
        <dt>Telefoonnummer
        {% if "secretariaat" in user.cached_groups_names or user == object %}
        &nbsp; <i><label>
                {% if object.visibility.telephone %}
                <span title="Zichtbaar voor alle leden">zichtbaar</span>
                {% else %}
                <span title="Alleen zichtbaar voor secretariaat en admlezers">niet zichtbaar</span>
                {% endif %}
                <button onclick="$.post('{% url leden-api %}', {
                                        'csrfmiddlewaretoken': csrf_token,
                                        data: JSON.stringify({
                                                action: 'entity_update_visibility',
                                                property: 'telephone',
                                                visible: {% if object.visibility.telephone %}false{% else %}true{% endif %},
                                                id: '{{ object.id }}'})
                                        }, function(data) {
                                                if(data.ok) window.location.reload();
                                                else alert(data.error);
                                        }); return false;" title="verander zichtbaarheid van het telefoonnummer">Verander</button>
        </label></i>
        {% endif %}
        {% if "secretariaat" in user.cached_groups_names %}
        <button onclick="var new_phone = prompt('Nieuw telefoonnummer');
                         if (!new_phone) return false;
                         $.post('{% url leden-api %}', {
                                'csrfmiddlewaretoken': csrf_token,
                                data: JSON.stringify({
                                        action: 'entity_update_primary',
                                        type: 'telephone',
                                        new: new_phone,
                                        id: '{{ object.id }}'})
                                }, function(data) {
                                        if(data.ok) window.location.reload();
                                        else alert(data.error);
                                }); return false;">Wijzig telefoonnummer</button>
        {% endif %}{# "secretariaat" in user.cached_groups_names #}
        </dt>
        <dd>
        <ul>
        {% for t in object.telephones %}
        <li>
        {{ t.number }}
        {% if t.from or t.until %}
        ({% if t.from %}
        van {{ t.from.date }}
        {% endif %}
        {% if t.until %}
        tot {{ t.until.date }}
        {% endif %})
        {% endif %}
        </li>
        {% endfor %}{# t in object.telephones #}
        </ul>
        </dd>
        {% endif %}{# object.telephones #}
        {% elif object.visibility.telephone %}
        <dt>Telefoonnummer
        <dd>{{ object.primary_telephone }}</dd>
        {% endif %}
        {% if "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object %}
	{% if object.addresses %}
        <dt>Adres
        {% if "secretariaat" in user.cached_groups_names %}
        <button onclick="var new_addr = prompt(
                        'Nieuw adres (straatnaam, nummer, postcode, plaats)',
                        '{{ object.primary_address.street|escapejs }}, '+
                        '{{ object.primary_address.number|escapejs }}, '+
                        '{{ object.primary_address.zip|escapejs }}, '+
                        '{{ object.primary_address.city|escapejs }}');
                         if (!new_addr) return false;
                         var addr = new_addr.split(',');
                         if (addr.length != 4) {
                                 alert('Er mist een waarde (verwacht: 4, '+
                                        'gekregen: '+addr.length+')');
                                return false;
                         }
                         var addr_street = $.trim(addr[0]);
                         var addr_number = $.trim(addr[1]);
                         var addr_zip    = $.trim(addr[2]);
                         var addr_city   = $.trim(addr[3]);
                         $.post('{% url leden-api %}', {
                                'csrfmiddlewaretoken': csrf_token,
                                data: JSON.stringify({
                                        action: 'entity_update_primary',
                                        type: 'address',
                                        new: { street: addr_street,
                                               number: addr_number,
                                               zip   : addr_zip,
                                               city  : addr_city },
                                        id: '{{ object.id }}'})
                                }, function(data) {
                                        if(data.ok) window.location.reload();
                                        else alert(data.error);
                                }); return false;">Wijzig adres</button>
        {% endif %}{# "secretariaat" in user.cached_groups_names #}
        </dt>
        <dd>
        <ul>
        {% for a in object.addresses %}
        <li>
        <address>{{ a.street }} {{ a.number }}<br/>
                {{ a.zip }} {{ a.city }}
        </address>
        {% if a.from or a.until %}
        ({% if a.from %}
        van {{ a.from.date }}
        {% endif %}
        {% if a.until %}
        tot {{ a.until.date }}
        {% endif %})
        {% endif %}
        </li>
        {% endfor %}{# a in object.addresses #}
        </ul>
        </dd>
        {% endif %}{# object.addresses #}
        {% endif %}{# "secretariaat" in user.cached_groups_names or "admlezers" in user.cached_groups_names or user == object #}
        {% if object.dateOfBirth %}
	<dt>Geboortedatum</dt>
	<dd>
        <a href="{% url entities-by-year-of-birth year=object.dateOfBirth.year %}"
                >{{ object.dateOfBirth.year }}</a>-{{ object.dateOfBirth.month }}-{{ object.dateOfBirth.day }}
	</dd>
        {% endif %}
	{% if object.dateJoined %}
	<dt>Lid sinds</dt>
	<dd>
	<a href="{% url jaar year=object.dateJoined.year %}"
		>{{ object.dateJoined.year }}</a>-{{ object.dateJoined.month }}-{{ object.dateJoined.day }}
	</dd>
	{% endif %}
</dl>
{{ block.super }}
{% endblock %}
