{% extends "base/base.html" %}

{% block body %}
<h1>{{ reglement.humanName }}</h1>
<p>{{ reglement.description }}</p>
<ul>
{% for version in reglement.get_versions %}
	<li><a href="{{ version.get_absolute_url }}"
		>{{ version.humanName }}</a>
	{% if version.valid_from %}
	Aangenomen op {{ version.valid_from.date }}.
		{% if version.valid_until %}
		Was van kracht tot {{ version.valid_until.date }}.
		{% else %}
		Nog steeds van kracht.
		{% endif %}
	{% else %}
	(Nog) niet aangenomen.
	{% endif %}
	</li>
{% endfor %}
</ul>
{% endblock %}
