{% extends "base/base.html" %}

{% load i18n %}

{% block body %}
<h1>{{ reglement.humanName }}</h1>
<p>{{ reglement.description }}</p>
<ul>
{% for version in reglement.get_versions %}
	<li><a href="{{ version.get_absolute_url }}"
		>{{ version.humanName }}</a>
	{% if version.valid_from %}
    {% trans "Aangenomen op" %} {{ version.valid_from.date }}.
		{% if version.valid_until %}
        {% trans "Was van kracht tot" %} {{ version.valid_until.date }}.
		{% else %}
        {% trans "Nog steeds van kracht." %}
		{% endif %}
	{% else %}
    {% trans "(Nog) niet aangenomen." %}
	{% endif %}
	</li>
{% endfor %}
</ul>
{% endblock %}
