{% extends "base/base.html" %}

{% load base %}
{% load i18n %}

{% block styles %}
{{ block.super }}
<link href="{{ MEDIA_URL }}reglementen/regl.css"
	rel="stylesheet" type="text/css" />
{% endblock styles %}

{% block body %}
<h1>{{ version.reglement.humanName }}</h1>
<h2>{{ version.humanName }}</h2>
<p>{{ version.description }}</p>
<p>
{% if not version.valid_from %}
{% trans "Deze versie is (nog) niet aangenomen en daarmee niet van kracht." %}
{% else %}
	{% if version.valid_until %}
        {% blocktrans with valid_from=version.valid_from.date \
                           valid_until=version.valid_until.date %}
        Deze versie was aangenomen op {{ valid_from }} en
        van kracht tot {{ valid_until }}.{% endblocktrans %}
	{% else %}
        {% blocktrans with valid_from=version.valid_from.date %}
        Deze versie was aangenomen op {{ valid_from }} en
        nog steeds van kracht.{% endblocktrans %}
	{% endif %}
{% endif %}
<div class="regl">
{{content|mark_safe}}
</div>
</p>
{% endblock %}
